[2017-05-20 14:11] qcjxberin opened #1 "Supporting construction of web site"
Supporting construction of web site

[2017-05-21 08:22] chkr1011 commented on #1
Hi,
sorry but I don't know what you mean with this.

Best regards
Christian Kratky

[2017-05-31 06:55] Zazzmatazz opened #2 "SSL/TLS support"
Good morning,

I've been planning to use this library in one of my projects, but I have noticed an omission:  SSL/TLS support on port 8883.  See [this](http://www.hivemq.com/blog/mqtt-security-fundamentals-tls-ssl) for information.

Is it possible to add this feature to the library?  Cheers!

[2017-05-31 09:46] chkr1011 commented on #2
Hi,
I assume you require this for MQTTClient only or for MQTTServer as well?

This feature is actually not on the list but I agree that this is very useful.
Do you want to add it and create a pull request?

If not I will put this on my list but I assume it will require some time to complete.

Best regards
Christian

[2017-05-31 09:48] Zazzmatazz commented on #2
I personally require it only for the MQTTClient, but it would be prudent to add the feature to the MQTTServer as well.

I can take a look at the code and see whether I can add it, and I'll let you know.

Cheers,
PdM

[2017-05-31 09:51] chkr1011 commented on #2
OK perfect, then let me know :)

[2017-06-02 13:23] Zazzmatazz commented on #2
I've gone ahead and added the SSL support and created a [pull request](https://github.com/chkr1011/MQTTnet/pull/3) for your perusal.

Cheers!
PdM

[2017-06-02 20:00] chkr1011 commented on #2
Hi,
I reviewed the changes. Good work!
I will take care of the Universal-Framework changes when it is merged.

Best regards
Christian

[2017-06-04 15:43] chkr1011 commented on #1
Hi,
can you please give me some hints about this issue?

Best regards,
Christian

[2017-06-04 15:52] chkr1011 commented on #2
Hi,
I added the UniversalWindows part and refactored some parts. Can you tell me if the state from the develop-branch works for you? If it works I will release version 2.1.3 soon.

Best regards
Christian

[2017-06-04 18:14] Zazzmatazz commented on #2
Looks good!  Should work well enough.

I don't see where in [MqttServerAdapter.cs](https://github.com/chkr1011/MQTTnet/blob/develop/Frameworks/MQTTnet.UniversalWindows/Implementations/MqttServerAdapter.cs) where `_sslCertificate` is consumed.  I am not familiar enough with the Universal Windows framework to know exactly what the process is, but from what I can gather for the client side:

[code]

[2017-06-04 19:25] chkr1011 commented on #2
Ah yes I forgot to say that I will test if this is supported. At the moment only the Client side is completed for all frameworks.

Where did you read that it is not supported?

[2017-06-04 20:29] Zazzmatazz commented on #2
Ah, perfect then.

The not supported part can be found on the [docs](https://docs.microsoft.com/en-us/uwp/api/Windows.Networking.Sockets.StreamSocket#Windows_Networking_Sockets_StreamSocket_UpgradeToSslAsync_Windows_Networking_Sockets_SocketProtectionLevel_Windows_Networking_HostName_):  The UpgradeToSslAsync method only implements the client parts of the SSL protocol negotiation, not the server p

[2017-06-05 10:53] chkr1011 commented on #2
Mhh this is confusing because the StreamSocketListener has a parameter which accepts TLS when binding to a port etc!? But I found no way to set the certificate.

So I assume you area right and I need to throw a "NotSupportedException" there. Stupid UWP! I found some blog articles about that. No HTTP server, no SSL support. And this is an IoT platform!?

[2017-06-05 12:27] Zazzmatazz commented on #2
Aye, I don't know.  Microsoft seriously dropped the ball on the serverside here.

The best course of action is to throw a `NotSupportedException` explaining why the feature isn't in UWP, then send a letter to Microsoft requesting proper SSL support.

C'est la vie.

[2017-06-06 10:31] zhaobaolong opened #4 "why MqttClient can not FireApplicationMessageReceivedEvent when MqttQualityOfServiceLevel.AtLeastOnce?"
When MqttApplicationMessage.MqttQualityOfServiceLevel =  MqttQualityOfServiceLevel.AtLeastOnce that client  can not  FireApplicationMessageReceivedEvent,but MqttApplicationMessage.MqttQualityOfServiceLevel =  MqttQualityOfServiceLevel.AtMostOnce can FireApplicationMessageReceivedEvent ,why?

[2017-06-06 12:30] chkr1011 commented on #2
You are right. I added a NotSupportedException... I will release a new nuget-package soon. Thanks for your support.

[2017-06-06 12:30] #2 closed

[2017-06-06 12:37] chkr1011 commented on #4
Hi,
to me this sounds like a bug. Can you give some more details about the server you use? And a little code snippet?

Best regards
Christian

[2017-06-10 15:54] zhaobaolong commented on #4
I have a windows form ,have three buttons "StartServer" 、“StartClient” and “SendMessage”。
`   private MqttServer mqttServer = null;
     private MqttClient mqttClient = null;

   private void button_startServer_Click(object sender, EventArgs e)
        {
            MqttTrace.TraceMessagePublished += MqttTrace_TraceMessagePublished;
          if (this.mqttServer == null)
            {

[2017-06-10 17:07] GeorgeHahn opened #5 "Contribution interest: Message routing?"
Hi! Would you be interested in a contribution to enable more fluent MQTT message handling?

Eg:

[code]

I built something like this years ago in a library I named [Charlotte](https://github.com/GeorgeHahn/Charlotte), but neither it nor the MQTT library it depends on supports .Net Core. The API is inspired by [Nancy](http://nancyfx.org/). I'd be happy to contribute and maintain such an API for thi

[2017-06-10 17:50] chkr1011 commented on #5
Hi,
to me this sounds like a good idea. Contributions are welcome!

But there is one thing I must rely on: The mentioned extension should be a extension only. So that the original MQTT client still works in the same way and standalone. And on top of it your extension. Maybe a new client class or static extension methods!? This is up to you :-)

If you agree please let me know :-)

Best regards
Chr

[2017-06-11 02:19] GeorgeHahn commented on #5
Sounds good to me! I think I can make this work as an extension method, I'll give it a try!

[2017-06-11 19:21] Zazzmatazz opened #6 "(Bug) MqttCommunicationException on ConnectAsync"
Version 2.1.3 has a connection bug it seems.

A request to send or receive data was disallowed because the socket is not connected and (when sending on a datagram socket using a sendto call) no address was supplied
   at MQTTnet.Implementations.MqttTcpChannel.WriteAsync(Byte[] buffer)
   at MQTTnet.Core.Serializer.MqttPacketWriter.WriteToAsync(IMqttCommunicationChannel destination)
   at MQTTnet.C

[2017-06-11 19:29] Zazzmatazz opened #7 "Unit test MqttServer_PublishSimple_ExactlyOnce fails"
Test Name:	MqttServer_PublishSimple_ExactlyOnce
Test FullName:	MQTTnet.Core.Tests.MqttServerTests.MqttServer_PublishSimple_ExactlyOnce
Test Source:	C:\Users\Zazzmatazz\Documents\Visual Studio 2017\Projects\MQTTnet-master\Tests\MQTTnet.Core.Tests\MqttServerTests.cs : line 40
Test Outcome:	Failed
Test Duration:	0:00:02.632876

Result StackTrace:
at MQTTnet.Core.Tests.MqttServerTests.<TestPublishAsyn

[2017-06-12 06:42] ericwu commented on #4
private Task HandleIncomingPacketAsync(MqttBasePacket packet)
        {
......
            MqttTrace.Warning(nameof(MqttClientSession), $"Client '{_identifier}': Received not supported packet ({packet}). Closing connection.");
........

[2017-06-12 13:40] chkr1011 commented on #6
Hi, please try without the "ssl://" prefix. Such a prefix is not supported in the library because the new "UseTsl" flag is used for this.

[2017-06-12 13:41] chkr1011 commented on #7
Hi,
yes I will have a look at it.

Best regards
Christian

[2017-06-12 13:43] chkr1011 commented on #4
This warning is coming if the packet type is invalid. This can happen if the data stream is aborted etc. Then the value is invalid. But this is only a warning.

I will test the the event and add it to the test app.

[2017-06-12 22:18] Zazzmatazz commented on #6
Yep, that'd do it.  Perhaps a case to allow ssl:// prefixes (if it's detected, automatically set the `UseTLS` flag).

[2017-06-12 22:19] #6 closed

[2017-06-14 04:02] GeorgeHahn commented on #5
Hi,

Your API is actually very similar to the M2Mqtt API, so porting [Charlotte](https://github.com/georgehahn/charlotte) was really easy. I'm running into some connection reliability issues though, so I'm going to move to the M2Mqtt .Net Core fork. If I have some time in the future, I'll add an option for Charlotte to use this library or that one.

I'm sorry I have to walk away from this work; I'

[2017-06-14 12:22] chkr1011 commented on #6
If you would like to use it you can still create a pull request and add this. But you need to check the options because ssl:// and "UseTsl=false" does not make sense.

[2017-06-14 14:04] chkr1011 commented on #5
Hi,
don't worry. For me it is OK.

Best regards
Christian

[2017-06-14 14:04] #5 closed

[2017-07-11 13:15] Zuendelmeister opened #10 "How to route Messages"
Hi,

I just want to write a simple messaging app to test MQTTnet. I want to subscribe 2 or more clients. Client_1 should send to Client_2, Client_2 to Client_3 and Client_3 to Client_1. How do I do this?
Also for logging purposes: How do I log (or write to the console) incoming messages in the Server program?

Server Program:

            {
                ConnectionValidator = p =>

[2017-07-11 18:24] chkr1011 commented on #10
Hi,
your code likes fine so far. For your case you need one server and several clients. So you need a parameter to distinguish the clients in your client code (i.e. parameter).

It is not possible to send a message _directly_ to a special client. You can only publish a message to the server. Depending on the topic several clients can subscribe to that topic. You can build your own patterns based o

[2017-07-12 05:55] Zuendelmeister commented on #10
Hi @chkr1011,
thanks for your fast response and the link. There are a few things I didn't know yet so it was very helpful. If I understand correctly I should do something like this:
Client_2:

                    "client/1/messages",
                    Encoding.UTF8.GetBytes("Hello World"),
                    MqttQualityOfServiceLevel.ExactlyOnce,
                    false
                );

[2017-07-12 09:38] Zuendelmeister opened #11 "Problems with .NET Core on raspberry => Could not load file or assembly 'Windows.Foundation.UniversalApiContract"
Hi it's me again,

I wanted to start my program (.NET Core) on a raspberry pi and got the following error:

   at MQTTnet.Implementations.MqttTcpChannel..ctor()
   at MQTTnet.MqttClientFactory.CreateMqttClient(MqttClientOptions options)
   at MqttClientModule.MqttClientModule.<threadBodyAsync>d__8.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.

[2017-07-12 17:47] chkr1011 commented on #10
You can use the MqttTrace class to attach a handler for general trace and debug messages. But there you will not see the content of the messages etc.
Or do you need something different?

[2017-07-12 17:57] chkr1011 commented on #11
Hi,
at the moment .NET Core for ARM is not supported. I know there is a Beta or whatever available but I had no time to add support for ARM .NET Core.
But there is already support for .NET Core at all. Another user has contributed support for it. But I did not created a new release yet (this change is still in the _master_ branch). I don't know if this works with ARM too.

Do you want to test it v

[2017-07-12 17:58] chkr1011 commented on #4
@zhaobaolong I tested it but cannot find any problems. The code you posted has several formatting errors.

[2017-07-12 21:17] chkr1011 commented on #11
It depends on your target OS. For Windows 10 on a Pi only _UniversalApps_ are supported. If you want to run it with Linux and .NET Core you need the .NET Standard library. The _nuget_ package (which you need to create for testing) is prepared and the required library will be added to your project automatically.

[2017-07-13 06:48] Zuendelmeister commented on #11
My target OS is an Ubuntu. But I want to develop with VisualStudio on Windows. Is there a way to to tell my project to build the final .dll for Ubuntu? My problem seems to be that it chooses automatically for me and thinks I want to build an UWP app.
Or in short: How do I set the target OS? With .NET Core commands I could use the -r flag but in my case this does not work because of the SDK I'm usi

[2017-07-13 06:49] Zuendelmeister commented on #10
I was hoping to log all incomming and outgoing messages in the broker program. But if thats not possible I have to live without it. Thanks.

[2017-07-13 07:21] qcjxberin commented on #1
Sorry, what i mean when it can support websocket

[2017-07-13 07:22] qcjxberin opened #12 "i mean when it can support websocket"
Sorry, what i mean when it can support websocket

[2017-07-13 07:22] qcjxberin commented on #12
I have a project to use websocket to do the relevant tests

[2017-07-13 07:33] chkr1011 commented on #10
I can add it if you like. It should be not a huge change. You need the _ApplicationMessages_ and the sending _ClientId_ only? I assume you don't need the low level packages or?

[2017-07-13 07:34] chkr1011 commented on #11
nuget will do this automatically. But you can also select the DLL manually in VS for tests. But you need to use the master branch.

[2017-07-13 07:37] chkr1011 commented on #1
Hi,
this is not planned yet. In general this is supported because the transport layer can be injected.
But there are several HTTP libraries which are already  supporting WebSockets. So it can be a wrapper for such libraries or a full implementation of the websocket protocol. But this also requires HTTP etc. which is a big change then.

For which platform do you need it?

Best regards
Christian

[2017-07-13 07:37] #12 closed

[2017-07-13 09:09] Zuendelmeister commented on #11
Sooooo, I deinstalled the nuget package, downloaded the repo (master) and builded the MQTTnet.NetCoreApp solution.  After that I added the new MQTTnet.Core.dll to my project. And it works like a charm ^^ Thank you so much. This is exactly what I wanted to know.

[2017-07-13 09:14] Zuendelmeister commented on #10
Gread that would be awsome.
What I need is the ApplicationMessage, the ClientId, the MqttQualityOfServiceLevel and the topic. The retain information could come in handy too but this is not important.
Thank you =)

[2017-07-13 09:16] Zuendelmeister commented on #10
Perfect =)

[2017-07-13 09:16] chkr1011 commented on #11
OK perfect. I will release a new version soon. Then this will work with the official nuget too. If not please let me know.

[2017-07-13 09:16] #11 closed

[2017-07-13 18:29] chkr1011 commented on #10
Hi, I added this feature to _master_. Please test it and tell me if it fits your needs. It is a new event at the MqttServer available.

[2017-07-15 16:39] chkr1011 commented on #10
I released a new version. If you need something please let me know (open the ticket).

[2017-07-15 16:39] #10 closed

[2017-07-15 16:39] #4 closed

[2017-07-17 08:00] 1iveowl opened #16 "TlsOptions cannot be set"
Maybe I'm doing something wrong, however while creating a [Rx Wrapper for MQTTnet](https://github.com/1iveowl/MQTTClient.rx) I notices that I was unable to set TlsOptions.

Did I miss something or...?

[2017-07-17 08:44] chkr1011 commented on #16
What exactly do you mean with "unable to set"?

[2017-07-17 13:45] 1iveowl commented on #16
Look at your implementation of MqttClientOptions. [There is no sette for TlsOptions](https://github.com/chkr1011/MQTTnet/blob/master/MQTTnet.Core/Client/MqttClientOptions.cs#L11)

But maybe there is something is misunderstand?

[2017-07-17 14:00] chkr1011 commented on #16
Ah OK. It is because this object is always set. You can access the fields directly. This property is never null.

[2017-07-17 14:24] 1iveowl commented on #16
My time to say ahh. I can Work with that.

[2017-07-17 14:24] #16 closed

[2017-07-21 03:03] qcjxberin commented on #1
maybe .net framework or .net core

[2017-07-21 03:03] qcjxberin commented on #1
Do i need this function more urgent, can I increase the priority?

[2017-07-23 16:42] chkr1011 commented on #1
Sorry no. But I will try it in the next few weeks. At least for client-side support.
But you can also create a pull request if you wan't to implement it.

Best regards
Christian

[2017-07-23 16:42] #1 closed

[2017-07-27 06:55] Zuendelmeister opened #17 "MQTTS Connection"
Hi again,

is there a way to send the data via MQTTS (Port 8883?).
It would be gread to send encrypted messages.
Thanks.

Best regards,
Zuendelmeister

[2017-08-02 10:28] Zuendelmeister opened #18 "Could not load file or assembly 'MQTTnet.Core"
Hi again,

I finally found the time to test you ApplicationMessageReceived event for the mqtt broker.
This is what I did:

`            MqttServer mqttServer = new MqttServerFactory().CreateMqttServer(options);

            mqttServer.ApplicationMessageReceived += (s, e) =>

            {

                string messageString = Encoding.UTF8.GetString(e.ApplicationMessage.Payload);

[2017-08-02 16:14] chkr1011 commented on #18
Hi,
I just tested it in a LINQPad script and it works.
Can you please tell me which kind of project use use? .NET Framework or .NET Core?

Yes the NetCoreApp project is removed because there is a new NetStandard one which should also work für NetCoreApps.

Best regards
Christian

[2017-08-05 09:27] chkr1011 commented on #18
Hi,
is this still open or should I close it?
Best regards
Christian

[2017-08-05 09:27] chkr1011 commented on #7
This is fixed in release 2.1.5...

[2017-08-05 09:27] #7 closed

[2017-08-05 13:52] 1iveowl opened #19 "Namespace MQTTnet is missing from NuGet v2.15"
Not sure if I'm doing something wrong, but the Namespace MQTTnet disappears when I upgrade the NuGet from v2.14 to v2.15?

[2017-08-05 16:16] chkr1011 commented on #19
Hi,
this should not happen. I just tested it with LINQPad and all namespaces are there.
What type of project are you using?
Maybe it is due to a breaking change. The Factories are now returning an Interface for Client and Server instead of the actual implementation. Maybe this is the reason.

Best regards
Christian

[2017-08-05 16:18] 1iveowl commented on #19
It's for the .NET Standard project I created: [MQTTClient.rx](https://github.com/1iveowl/MQTTClient.rx).

Hmm, not sure what is going on. Are you sure that the NuGet includes all the right files?

[2017-08-05 16:20] chkr1011 commented on #19
I used the build script you created :-)

[2017-08-05 16:22] 1iveowl commented on #19
Ha ha. Touché ;-)

Anyhow, here is what I see in Visual Studio. Sure does look like there are some .dll's missing.

![mqtt2 15](https://user-images.githubusercontent.com/12871120/28996985-f87c9168-7a0a-11e7-8721-c53c5ac5d898.png)
![mqtt2 14](https://user-images.githubusercontent.com/12871120/28996986-f87e451c-7a0a-11e7-9a86-60da44f638d0.png)

[2017-08-05 16:24] chkr1011 commented on #19
I am downloading your project. Then I will test it.
But I can see that the .NET Standard  libraries are only two. Which seems to be OK!?

[2017-08-05 16:25] 1iveowl commented on #19
Have you tried to look at the NuGet package that is created using the [Nuget Package Explorer](https://github.com/NuGetPackageExplorer/NuGetPackageExplorer) to see if all is there?

Could just be related to some paths that havde changed.

[2017-08-05 16:26] chkr1011 commented on #19
I tested it with your repo and it works with 2.1.5 BUT you have to convert several places in your code. Because the factories are returning the interfaces of MqttServer and MqttClient now.

[2017-08-05 16:31] chkr1011 commented on #19
And the dependency looks like this after updating your solution to 2.1.5...

![image](https://user-images.githubusercontent.com/6939810/28997040-34dea6fe-7a0c-11e7-93c5-0a81eabca094.png)

Seems to be OK!?

[2017-08-05 16:38] 1iveowl commented on #19
It sure does. So the issue must be in my end. Not sure what is going on. I will investigate...

[2017-08-05 16:42] 1iveowl commented on #19
I found the culpit. I cleared the NuGet cache and now it works.

[2017-08-05 16:43] #19 closed

[2017-08-05 16:50] chkr1011 commented on #19
ok perfect :)

[2017-08-06 09:48] wind-rider opened #20 "Protocol name is not MQTT when testing with MQTTLens"
[MQTTLens](https://chrome.google.com/webstore/detail/mqttlens/hemojaaeigabkbcookmlgmdigohjobjm) is a popular testing / debugging tool for mqtt traffic. When I test it with MQTTnet 2.1.5 the exception at https://github.com/chkr1011/MQTTnet/blob/0172606747e7e3aecca999a798f837c02b74356d/MQTTnet.Core/Serializer/DefaultMqttV311PacketSerializer.cs#L263 is triggered.

[2017-08-06 09:56] wind-rider commented on #20
The cause is that `Encoding.UTF8.GetString(protocolName, 0, protocolName.Length)` returns `MQIs`

[2017-08-06 10:16] wind-rider opened #21 ""Received not supported QoS level." is always called"
The exception at https://github.com/chkr1011/MQTTnet/blob/0172606747e7e3aecca999a798f837c02b74356d/MQTTnet.Core/Server/MqttClientSession.cs#L175 is always thrown even though the different QoS levels are handled

[2017-08-06 15:41] wind-rider opened #22 "MQTTnet.Core.Exceptions.MqttProtocolViolationException: 'Packet type (0) not supported.'"
It seems that when using MQTTnet with this popular [mqtt](https://www.npmjs.com/package/mqtt) npm package, a packet type "0" is sent.

This causes exceptions in MQTTnet.

[2017-08-07 18:10] chkr1011 commented on #21
Hi,
thank you for your feedback. I will fix it and upload a new version soon.

Best regards
Christian

[2017-08-07 18:10] #21 closed

[2017-08-07 18:15] chkr1011 commented on #18
@Zuendelmeister Please reopen this ticket if the problem still occurs.
Best regards
Christian

[2017-08-07 18:15] #18 closed

[2017-08-07 18:16] chkr1011 commented on #22
But the question is what packet type "0" does!? In the official MQTT documentation type "0" is reserved and should not be used. Do you know why this library is sending "0"?

[2017-08-07 18:17] chkr1011 commented on #20
I can implement this but it seems that this "MQIs" is identifying version 3.1 of the MQTT protocol. And this version is currently not supported. Do you know some details about this? Are these versions compatible (at least in meaning of packet types and format)?

[2017-08-07 18:33] wind-rider commented on #22
No, i have no idea.. just that by default that library sends 0 (you can try the example from the npm page)

[2017-08-07 18:35] wind-rider commented on #20
Yes i also think that it is version 3.1; an alternative for testing would be http://www.hivemq.com/demos/websocket-client/ but that only works with web sockets

[2017-08-07 22:27] Schwenkner opened #23 "Received not supported QoS level."
When I specify "MqttQualityOfServiceLevel.AtMostOnce)" then the exception is thrown in MqttClientSession. A look in the code shows, in case of AtMostOnce the method doesn't has a return statement and falls through to the exception.

What action has to be executed instead?
Or is this QoS not supported?

[2017-08-08 07:48] Zuendelmeister commented on #18
Hi @chkr1011,
sorry for answering so late. I was away for a few days.
I use a NetCoreApp.
![image](https://user-images.githubusercontent.com/14317353/29061311-94398df4-7c1d-11e7-9a2b-cd8721bb18af.png)

I just tried the NetStandard dll's and it realy works. I probably used the wrong ones.
Thank you =)

Best regards,
Zuendelmeister

[2017-08-08 11:41] Zuendelmeister commented on #17
Hi again,

I just got the time to take a deeper look at this. I probably do something wrong but I don't get how to set this to true. In MqttClientOptions TlsOptions just has a getter:
`public MqttClientTlsOptions TlsOptions { get; } = new MqttClientTlsOptions();`

I couldn't find a way to set this. Here is an example:

`
MqttClientTlsOptions tlsOptions = new MqttClientTlsOptions();

            tl

[2017-08-08 14:43] Spawnkid opened #24 "2.1.5.1 Update broke MqttClient/MqttServer constructor?"
I just got an update earlier and now its failing my build. Here are the errors:

Cannot implicitly convert type 'MQTTnet.Core.Client.IMqttClient' to 'MQTTnet.Core.Client.MqttClient'. An explicit conversion exists (are you missing a cast?)

Cannot implicitly convert type 'MQTTnet.Core.Server.IMqttServer' to 'MQTTnet.Core.Server.MqttServer'. An explicit conversion exists (are you missing a cast?)

P

[2017-08-08 14:49] Spawnkid commented on #24
Update: fixed by just properly casting.

 _mqttClient = (MqttClient)new MqttClientFactory().CreateMqttClient(options);
 _broker = (MqttServer)new MqttServerFactory().CreateMqttServer(options);

[2017-08-08 14:50] #24 closed

[2017-08-08 16:32] chkr1011 commented on #24
Hi,
the factories are returning the interfaces only since version 2.1.5 (IMqttClient, IMqttServer). Please use them instead of casting the classes. Or use _var_ like in the examples.
Best regards
Christian

[2017-08-08 16:32] chkr1011 commented on #23
Hi,
this is a bug and fixed in version 2.1.5.1...
Best regards
Christian

[2017-08-08 16:32] #23 closed

[2017-08-08 16:35] chkr1011 commented on #22
I tested it with the MQTTnet server and a client in node.js using the _mqtt_ packet. The example code works as expected without problems.

Please keep in mind that this exception is only a warning in the trace. This situation can happen when the connection is closed while receiving a packet (like ping etc.).
A possible solution is to filter packets with type _0_.

Can you please retry and tell me

[2017-08-09 11:11] Zuendelmeister opened #25 "Reconnect does not work"
Hi again,

I have a problem with the reconnect. I'm sending data and sometimes the connection does not work anymore. My client code trys to reconnect:

                 Console.WriteLine("### DISCONNECTED FROM SERVER ###");
                 sendMessages = false;
                 while (!sendMessages)
               {
                     await Task.Delay(TimeSpan.FromSeconds(5));

[2017-08-10 15:15] Zuendelmeister opened #26 "Max Message Size"
Hi again,

is there a maximum message size? If I send a message with 500 character everything works fine. The broker dies if I send a message with 1000 character though.
Any ideas?
Thanks as always =)

Best regards,
Zuendelmeister

[2017-08-11 05:18] wuzhenda commented on #25
it seems the resource is not  released totally

[2017-08-11 06:26] Zuendelmeister commented on #25
That means? And what can I do to avoid this?

[2017-08-11 08:23] wuzhenda commented on #25
add more time span before re-connection after last time disconnection, but  not a good solution

[2017-08-11 08:42] Zuendelmeister commented on #25
Ok I'll try it. Thanks for the hint.

[2017-08-12 17:27] chkr1011 commented on #26
Hi,
I tested it with a message which has a payload of 6500 bytes and it works without problems. Can you please sent me exceptions or the trace messages (from MqttTrace)?

Best regards
Christian

[2017-08-12 17:29] chkr1011 commented on #20
I will add support for MQTT 3.1.0 in the next version (2.2.0). Then MQTTLens will work. Please wait a couple of days.

[2017-08-12 17:29] #20 closed

[2017-08-12 17:29] chkr1011 commented on #25
Yes this is only a workaround. I will check this...

[2017-08-14 02:26] wuzhenda opened #27 "when not use ssl ,disconnected will cause exception"
in file MqttTcpChannel.cs

public Task DisconnectAsync()
        {
            try
            {
                  **//not judge if _sslStream is null
                    _sslStream.Dispose();**

                _socket.Dispose();
                return Task.FromResult(0);
            }
            catch (SocketException exception)
            {
                throw new MqttCommunicationException

[2017-08-14 03:48] wuzhenda commented on #27
when disconnected happened,the socket is disposed,
but when reconnect, you do not create a new socket,

your tesk code:
`                client.Disconnected += async (s, e) =>
                {
                    Console.WriteLine("### DISCONNECTED FROM SERVER ###");
                    await Task.Delay(TimeSpan.FromSeconds(5));

                    try
                    {

[2017-08-14 03:49] wuzhenda commented on #25
you use a disposed socket when do re-connect
refs,
https://github.com/chkr1011/MQTTnet/issues/27#issuecomment-322094071

[2017-08-14 06:37] chkr1011 commented on #25
@Zuendelmeister: I tested it but I cannot reproduce the error.

I assume the problem is in your code. Because in the event handler of the _Disconnected_ event you start a while loop. The problem is that after the connection is droppped the event handler is called again and again if a _ConnectAsync_ for retries fails. Then you have several while loops running and this leads to unexpected errors lik

[2017-08-14 07:10] Zuendelmeister commented on #26
I somehow cannot reproduce the problem. I guess it was due to connection problems maybe? Close this for now please. If I can reproduce this, I will let you know.

[2017-08-14 07:12] #26 closed

[2017-08-14 07:49] Zuendelmeister commented on #25
Ok that makes sense. But what would be the right way to do a save reconnect with several retries?

[2017-08-14 09:02] wuzhenda commented on #25
when do disconnection,the ReceivePacketAsync  task seems not disabled,and it continue to use the disposed socket read?

[2017-08-14 18:28] chkr1011 commented on #25
Yes you are right. These problems are related BUT starting this loop isn't a good idea. You can monitor the _IsConnected_ property within a loop or only try a reconnect in the event but a loop is defenetely causing problems because it will be executed several times for each failed try to reconnect and you will end up having several loops running at the same time.

[2017-08-15 05:19] Zuendelmeister commented on #25
Hi @chkr1011,

yes I understood and deleted the loop and tried it with your example code.
Same problem though. Does it work for you? My testcases are the following:
1.: A client trys to connect to a broker that is not started yet. After several retries I start the broker and the client SHOULD get a connection.
2.: A client connects to a started broker, I kill the broker, the client looses the conn

[2017-08-15 06:48] chkr1011 commented on #25
Please wait until the reconnect bug is fixed. Then we can continue here. In general it should work like in the example code. But this is currently broken. I will publish a fixed version soon.

[2017-08-16 06:50] wuzhenda commented on #25
maybe try this commit?
https://github.com/wuzhenda/MQTTnet/commit/16f9faed4022392972c3cec5dd309d1f87772df8

[2017-08-17 06:56] wuzhenda commented on #25
when timeout happened ,the original task seems still running,not abort?
`        public async Task ConnectAsync(MqttClientOptions options, TimeSpan timeout)
        {
            var task = _channel.ConnectAsync(options);
            if (await Task.WhenAny(Task.Delay(timeout), task) != task)
            {
                throw new MqttCommunicationTimedOutException();
            }
        }`

[2017-08-17 20:47] chkr1011 commented on #22
I assume this issue is fixed. If not please reopen the ticket.
Best regards
Christian

[2017-08-17 20:47] #22 closed

[2017-08-17 20:51] chkr1011 commented on #27
Please test with version 2.2.0...

[2017-08-18 08:26] wuzhenda commented on #25
tks!  I hope the evenhandle  Disconnected could tell user the reason for disconnected
`Disconnected?.Invoke(this, EventArgs.Empty); ==> Disconnected?.Invoke(this, EventArgs.Dis-Reason);`

[2017-08-18 10:25] Zuendelmeister commented on #25
He you guys,

I just tested the new code. Works perfect for me.
Thanks for implementing!

Best regards,
Zuendelmeister

[2017-08-20 11:12] chkr1011 commented on #25
@wuzhenda  If you need this feature please create a new ticket for it. But the question is which information you need. If you call disconnect on your own you should know the reason. If the library disconnects it depends on a dropped connection. Either TCP, MQTT or physically.

[2017-08-20 11:12] #25 closed

[2017-08-20 11:13] chkr1011 commented on #27
If this still occurs with 2.2.0 please reopen the ticket.
Best regards
Christian

[2017-08-20 11:13] #27 closed

[2017-09-06 19:18] rydergillen-compacSort opened #30 "Bug in MqttTcpChannel (.NET Framework/NetStandard1.3)"
I ran into a issue when trying to connect via SSL with a Self-Signed Cert. I needed to override the validation function to always return true for self-signed certs. In previous versions of .NET I could use

`ServicePointManager.ServerCertificateValidationCallback = (sender, certificate, chain, errors) =>
            {
                return true;
            };
`

In dotnet CORE this is ignored. M

[2017-09-07 15:18] chkr1011 commented on #30
Hi,
yes I know that global solution from regular .NET framework.
In general there is a dedicated object for Tls options for this in the MQTT client.
In my opinion there should be a new boolean value which allows ignoring self signed certificates. Something similar is already there for revoked certificates. Maybe this can be reused or already works for your case!?
Then the implementations should in

[2017-09-07 15:55] rydergillen-compacSort commented on #30
I don't think a simple Boolean property would be sufficient. There isn't a specific property on a Self-Signed cert identifying it as such. A `Func<,,,>` matching the signature of the delegate could be exposed as a property. This would allow the developer full control over what certificates to accept/reject.

I think something alone these lines would work for my specific use case. I guess what I wa

[2017-09-08 13:31] JanEggers opened #31 "Bad Performance"
Hi there im currently evaluating your library.

I try to send as much packages as possible but the server seems to be only capable of handling 500 msgs/ sec. cpu is at 100% and most time is wasted in mqttpacketreader according to redgate perf profiler.

is this expected perf?  i first thought i need a better json serializer library but json.net is just at less than 1 % of cpu.

[2017-09-08 19:57] rydergillen-compacSort commented on #31
I suspect the Async nature of the MqttPacketReader is contributing to the issue. Many of the methods marked as Async are likely returning near instantly.

As an example look at the following method that reads 1 byte. The overhead of tracking/switching thread contexts likely outweighs the performance gain. However this is somewhat subjective, high latency can be mitigated by Async

`
private async

[2017-09-08 21:59] JanEggers commented on #31
thx for the update. ill do some testing in what is required to improve perf but i need some serious gain. i need to process at least 50k msg per second. ill start by looking at kestrel. if the asp.net stuff can handle 2M requests in plaintext benchmark it should be possible to improve with this protocol.

[2017-09-08 22:57] 1iveowl commented on #31
Not sure how much it'll change, but it should be safe to use `ConfigureAwait(false)`.

For details see [Async/Await - Best Practices in Asynchronous Programming](https://msdn.microsoft.com/en-us/magazine/jj991977.aspx)

I've added some in PR #32

[2017-09-08 23:00] JanEggers commented on #31
i would remove most async awaits as @rydergillen-compacSort suggested. reading data from the socket async makes tokal sense. but afterwards reading single values async from memory stream is wasted time.

[2017-09-08 23:17] JanEggers opened #33 "MqttTcpChannel buffer broken"
while looking at the code i found an issue with MqttTcpChannel.

ReadAsync does not handle the returncode of _socket.ReceiveAsync. so if calling code wants to read 1000 bytes and method returns 500 just 500 bytes are read not the desired 1000. (byte array has correct size but half of it is unitialized)

[2017-09-08 23:17] JanEggers commented on #33
also graceful socket disconnects (return 0) is not handled

[2017-09-09 01:47] JanEggers commented on #31
i removed async and found some more bugs.

should i create a pr for each bug or is it ok if i include bugfixes in my perf boost pr?

as my next step is a litle more intrusive i first want to check on your oppinions.

i need to change interfaces so they return observables. ICommunicationChannel.ReceivePacketAsync should return `iobservable<byte[]>` and IMqttCommunicationAdapter should return `iobse

[2017-09-09 01:51] JanEggers commented on #31
and is it ok to bring in rx for implementation or should i use handmade observables

[2017-09-09 04:03] JanEggers commented on #31
i would love to use System.IO.Pipelines that is what kestrel will be using but that not released yet. mehhh

[2017-09-09 16:51] chkr1011 commented on #30
I agree but the Func you mentioned must be sufficient for all frameworks. I saw that core has different properties than the classic .NET stuff. If you provide such a function the implementation must map this function to the used stream which might be not possible because UWP don't has this function. It only has several enum which are describing what certificate status can be ignored. So a Func wil

[2017-09-09 17:01] chkr1011 commented on #31
@JanEggers Thank you for reporting this behavior. Do you have maybe more details from the performance profiler?

@JanEggers I don't want to add depending libraries to this project. One goal is to be independent without having the overhead of other libraries (not performance related, more the organizational overhead). But I assume we can optimize the performance with several other tweaks.

Please k

[2017-09-09 18:18] JanEggers commented on #31
@details: i use the buildin profiler of vs not really showing that much other than time is spend in read and write methods.

im currently playing around and got message transmission from 2700 to 8000 msg/sec by buffering on receiving end. i will also have a look at the sending side. i will disect that branch into multiple prs if i feel confident about it.

[2017-09-09 18:31] JanEggers commented on #31
what are your feelings about Microsoft.Extensions.Logging? i thought about integrating it to be able to fine tune what log messages should be shown.  and also disable string formatting of messages that are not shown. currently string.format climbed up to 10% cpu usage

[2017-09-09 19:12] chkr1011 commented on #31
I hear from it but I have no experience. But in general I understand the point. In my opinion it would be enough to move the string.format to the MqttTrace class. If no one is listening the format is useless. Also the string interpolation can be converted to regular string.format versions. This would improve it as well.

What do you think about it? I can implement this change to logging.

[2017-09-09 20:42] chkr1011 commented on #31
Please have a look at the develop branch. I was able to remove lots of useless async/await and I changed all trace messages to avoid useless context creation for string interpolation and useless string formats.
Tomorrow I will try to identify more areas where async/await can be removed safely.

 @1iveowl  I had to remove lots of your ConfigureAwait because at most places the async/await makes sens

[2017-09-10 08:58] #33 closed

[2017-09-10 09:06] JanEggers commented on #31
concerning logging i would have switched the loggiing api to take FuncOfString. that whay you still could still use stringinterpolation (if logging is enabled writing the content to any output is far more perf than formatting the entry). another idea is to just capture the MqttTraceMessagePublishedEventArgs in publish but do the event invoke in a task.run that way consuming the log eg console/file

[2017-09-10 12:09] chkr1011 commented on #31
Thats a suitable idea but for now I will leave it in the way it is. But for a next big update I concider changing the logging stuff. But for now I assume that the performane will not be affected by logging anymore. On the other hand the logging is always on in my other applications but I am only processing info/warning/error messages. If I revert to string interpolation etc. the overhead is there

[2017-09-11 05:43] JanEggers commented on #31
@chkr1011  fyi i found various places with the pattern:

[code]

that code is broken, if you return the task without awaiting it the catch will never catch anything as the exception will be thrown where the returned task is awaited

[2017-09-11 06:45] chkr1011 commented on #31
A yes you are right. I will merge your performance pull request and then I will review those places...

[2017-09-12 20:02] chkr1011 commented on #31
@JanEggers I have a problem migrating your changes for UWP. There is no "Peek" method available for the socket (Available property). So I cannot peek correctly.

I saw you used the following code for the WebSocketChannel für NetStandard:

        public int Peek()
        {
            return WebSocketBufferSize;
        }

How can this work and how can I adapt it for the UWP implementation?

[2017-09-13 07:50] chkr1011 commented on #31
OK thanks. I will have a look.
I also tested the performance app and I refactored it a little bit. Now I can see that 1000 messages are processed in about 100 ms. The calculated duration per single message is now at about 0.2 ms. So your requirement of 50.000 messages per second should be fulfilled :)

[2017-09-13 19:57] chkr1011 commented on #31
I just merged your changes. Good job! And it is much faster now. I am going through your changes and refactoring a little bit. Mostly my Resharper style settils will reformat things a little bit. But here are some findings:

1. In MqttPacketDispatcher there is  the Reset method but _packetByResponseType is not clear. I assume it should. I don't want to change it before yo ucan confirm that my assu

[2017-09-14 05:45] JanEggers commented on #31
you are right i forgot that.

i agree too, i just wanted to move it away from the platform specific libraries.

yup that may not be awaited otherwise it will deadlock so disabling the warning is ok

no i didnt but i guess azure iot hub would fit as alternative. i didnt use that one either

i dont know yet but i will have a look.

i use resharper too can you commit your settings as TeamShared. i tr

[2017-09-14 06:19] JanEggers commented on #31
im thinking of making a library on top of this one that can be used as signalr transport so i can use signalr programming model and scaleout to handle more messages / failover loadbalancer etc... but that will have to wait until signalr leaves alpha.

[2017-09-14 11:41] JanEggers commented on #31
pr incoming with fixed test problem is that client and server both generated packageid 2, package identifer should be a guid to prevent that but i dont know where to put a change request for the protocol so i use a dictionaryof dictionary for lookup

[2017-09-14 16:33] chkr1011 commented on #31
If you build your signalR library please let me know. I want to add it do the readme then (if you agree).

After adding this lib to the page you mentioned my account was "flagged". But now it works again. :-)

I will review the PR and merge it later today. Also the changes for the questions I mentioned above. The packet identifier is fixed to a short value. This is by protocol design and it is all

[2017-09-14 20:34] JanEggers commented on #31
i put some more perf in it. when using a single client im at 150K msg/sec, that is ok for now. but there is some issue with multiple clients if i crank the testapp to more then 4 clients i get task cancellation exceptions. didnt figure out why yet.

[2017-09-15 06:50] chkr1011 commented on #31
Where do you have the exception? At client or server? Maybe the errors is a server side!?

I have some problems with the "raw" stream. I cannot create it for UWP apps because there is either a stream for read or one for write. Also the BufferedStream is not available there.

I assume that I can assign the ReadStream as the RawStream because it is only used for reading if a timeout is set. Is that

[2017-09-15 07:17] JanEggers commented on #31
yes you can assign it directly, thats what i did in .net standard and for the websockets. For the renaming, I'm fine with that but i would add yet another stream property RawSendStream just for parity. My perfernece would be that the ICommunicationChannels just have the RawStreamProperties and buffering is done in the platform independent core library. but then we have to use a handmade implementa

[2017-09-15 12:11] JanEggers commented on #31
i did some research and BufferedStream is included in .net Standard 1.5 so we could improve if we bump up to .net standard 1.5, but i dont know if that is ok / what are the consequences for UWP

[2017-09-15 13:26] chkr1011 commented on #31
I refactored some minor things and pushed them. Please pull develop branch.

I removed the ReceiveBuffer because in the end a new memory stream is created always.

OK lets rename both but we can call them "SendStream" and "ReceiveStream" and add buffering on top of hat in the core library. "Raw" has no meaning then.

I am also thinking about updating to .NET Core 2.0 because there is WebSocketsSec

[2017-09-15 13:33] chkr1011 commented on #31
@JanEggers I found this article (https://blogs.msdn.microsoft.com/dotnet/2017/08/25/uwp-net-standard-2-0-preview/) saying that UWP is .netstandard 1.6 but there is a preview. I would like to wait until it is released and published for a certain time. Otherwise the library is not usable for old installations.

But we can stay at the two kinds of Streams for now. Then we can take advantage of buffer

[2017-09-15 13:40] nowakpiotr commented on #31
I tested WSS with  .net core 2.0 on raspberry pi and such a solution works well.

[2017-09-15 13:42] chkr1011 commented on #31
But you run Linux or Windows IoT Core?

[2017-09-15 13:45] nowakpiotr commented on #31
Linux

[2017-09-15 13:51] chkr1011 commented on #31
OK then it works. For UWP 2.0 is not available yet.

[2017-09-15 13:58] chkr1011 commented on #31
@JanEggers I have some more problems with the _TimeoutAfter_ method. I am awaiting it but the code continues without waiting. This breaks the communication. Maybe this is related to my mentioned error above!?

[2017-09-16 06:20] JanEggers commented on #31
hi there i fixed the bug. timeout after is fine. i didnt commit changes in mqttclient.

in this place
https://github.com/chkr1011/MQTTnet/blob/eda8bff10be341578736fc9405617350f7a92813/MQTTnet.Core/Client/MqttClient.cs#L339

it is crucial to begin to wait first and then send the packet otherwise the server may have send the response before the awaiter is set up.

[2017-09-16 06:24] JanEggers commented on #31
it should work if your findings are true the unittests i added for the timeoutafter must fail. if you can repro add another test and ill make it green.

[2017-09-16 06:28] JanEggers commented on #31
i downloaded uwp sdk but im not able to start the app :( i just get a popup: the app wasnt started.

[2017-09-16 09:56] JanEggers commented on #31
this was what i was reffeing to btw:

https://github.com/aspnet/KestrelHttpServer/issues/1980

[2017-09-16 15:09] chkr1011 commented on #31
@JanEggers Yes the code is awaiting.. I am not able to create a unit test which fails but I am not able to connect with the WebSocket test server from mosquitto (ws://test.mosquitto.org/mqtt).

Maybe you can try it. More info about the server: https://test.mosquitto.org/

The problem is that the code stays as "ConnectAsync" from the WebSocket channel but goes ahead and thus the stream is null. Whe

[2017-09-18 16:23] chkr1011 commented on #31
@JanEggers I tested the WebSocket channel and it works without problems.

But there is one issue left. Maybe you have some ideas:
If you use a random value for the server which does not exist like "abc" the code throws a nullref execption instead of a socket exception. This is really bizzare.

Can you have a look as well? Maybe you have more luck than me :-)

But please pull develop branch before.

[2017-09-19 21:11] chkr1011 commented on #31
@JanEggers I was finally able to locate the issue in _TimeoutAfter_. I also added a new Unit Test for that case but I ended up implementing the method in a different way. Your original implementation is still there but commented out. Do you want to have a look?

I also tested the library with both TCP and WebSocket connections and everything works fine. If you have no additions I will release it s

[2017-09-20 03:42] JanEggers commented on #31
Hi Christian,

the new implementation looks like the original I tried to replaced. So it will use much memory for pending delay tasks. (they are not canceled in case the real work is done). il try to fix my implementation.

[2017-09-20 06:33] chkr1011 commented on #31
I just saw that I broke it again. Please pull develop to get the working version.

Isn't it enough to add the cancellation toklen like in your implementation to the delay task and cancel it if the other task has finished first?

[2017-09-20 07:41] JanEggers commented on #31
i created a pr, implemented like u adviced, that code is simpler than what i did. i also added a test and resharper settings. if you want to update them to match yours you can do it in resharper options. just save them as team shared

![image](https://user-images.githubusercontent.com/6747376/30632228-a898cff8-9de7-11e7-923b-8382b0f8063c.png)

[2017-09-20 07:42] JanEggers commented on #31
regarding test regression: maybe you should look into ci build, there should be free options in github marketplace.

[2017-09-20 19:08] chkr1011 commented on #31
I played around with travis for this project but I was not able to build it yet. So I disabled that integration. But I will give it a next try soon. Maybe after the next release. Or are you familiar with the CI system? I already added a travis.yml but It does not work.

[2017-09-20 19:41] chkr1011 commented on #31
@JanEggers I completed all my tests with client and server and I am ready to release a new version. If you agree and there is nothing open from your side please close this ticket. Then I know that there is nothing more.

Thank you for your big contribution. It is a massive improvement for this project. I would appreciate if I see more PRs from you in the future.

Best regards
Christian

[2017-09-20 20:01] JanEggers commented on #31
@chkr1011 : go ahaid. if there is more ill just create a new issue / pr

[2017-09-20 20:01] #31 closed

[2017-09-24 23:26] 1iveowl opened #45 "Possible Race Condition"
I'm struggling with the RecievePackets piece of you code on UWP. The issue only arise in Release, not in Debug mode.

Things seem to works on Windows 10, but not on Windows Mobile 10. I can replicate the issue both on a physical Windows 10 Mobile device as well as the Windows 10 Emulator. I even see the issue on rare occations on Windows 10 too actually.

I've been mulling over [this piece](https:

[2017-09-25 14:47] 1iveowl commented on #45
I dug some deeper with Wireshark.

Look at these two recording of the traffic.

Working:
![working](https://user-images.githubusercontent.com/12871120/30814483-a15ffe96-a210-11e7-8ac2-553ff9f841ba.png)

Failing:
![failing](https://user-images.githubusercontent.com/12871120/30814484-a17036f8-a210-11e7-8ea8-7130fdb91168.png)

Looking at the timing of the fourth TCP packet. It delayed approx. 12 sec.

[2017-09-25 18:46] 1iveowl commented on #45
This is getting stranger by the minute.

In this small video both the `if` and the `else` is runs?!
![if-else](https://user-images.githubusercontent.com/12871120/30825239-84b0e98c-a232-11e7-828f-703f9eeafcb2.gif)

Quantum physics?

[2017-09-26 06:47] chkr1011 commented on #45
@1iveowl I also had such problems with UWP. I had a if-statement whioch was false but still entered. It was a mess. I also have it for my home automation project. I was able to fix it by debugging "Debug"-Versions only and disable the "native toolchain".

Related to processing messages I would like to keep the way it works now becaue if you make it async/await the internal processing is halted and

[2017-09-26 06:47] JanEggers commented on #45
only thing i can say is that task.run is required because it is an async read loop that runs as long as the client is connected. if it would be awaited the connect would be completed if the client is disconnected again.

[2017-09-26 06:50] chkr1011 commented on #45
@1iveowl Is this a new problem and didn't happen in a previous version?

[2017-09-26 06:51] 1iveowl commented on #45
Thank you. I've been working some more on the issue. I'm trying something new and will share when ready.

Regarding putting the FlushAsync inside the lock, it is not. What you are doing inside the lock is composing the task. I'm only adding the FlushAsync to the composition. The Task is not run async until after the lock.

[2017-09-26 07:04] JanEggers commented on #45
that is correct async await may not be inside lock statements, and the lock is present so just one writer has access to the stream at a time, without that i had raceconditions because packages override each other and then deserializing them failed.

[2017-09-26 07:08] 1iveowl commented on #45
The way I read the code you are composing the Task with ContinueWith inside the lock. Then you run the combined Task right after the lock. Is this the way you understand the code too? In this case I do believe that you can add both WriteAsync and FlushAsync inside the lock.

[2017-09-26 08:36] JanEggers commented on #45
yep you could also add flush inside the lock but flush does not affect the data that is send (so if a and b want to send stuff it does not matter if a flushes the stream or b flushes the stream). my understanding is that parallel calls to FlushAsync are scnchronized by the Stream.

[2017-09-26 08:50] 1iveowl commented on #45
My thinking was that if you add the `_channel.SendStream.FlushAsync` to the Task inside the `lock`, then at least you are sure that the `FlushAsync` is being added to the same `_channel` as the `WriteAsync`.

If you add `FlushAsync` to the Task outside the `lock` then there is a risk (albeit probably rather small) that the `FlushAsync` will be related to some other `_channel` as the the `_channel`

[2017-09-26 09:18] JanEggers commented on #45
`_channel` is always the same instance eg relation from channeladapter to channel 1:1.

first i would verify that sending is really the issue. can u add logging to
https://github.com/chkr1011/MQTTnet/blob/37a5dc7abefdc3878fd58f12220c8fa84baa1078/MQTTnet.Core/Client/MqttClient.cs#L52

and before and after
https://github.com/chkr1011/MQTTnet/blob/37a5dc7abefdc3878fd58f12220c8fa84baa1078/MQTTnet.Core

[2017-09-26 09:58] haeberle opened #46 "MQTTServer in UWP"
Dear’s

First of all, thank a lot for the great solution.

I did some test by using the MQTTserver in a UWP app and identified an issue. I used the example code from the Readme and set the Port to 1883 in the DefaultEndpointOptions.
The Server runs into a Nullpointer Exception, because the ReceiveStream in the MqttTcpChannel is not initialized. I see that the initialization is done in the ConnectA

[2017-09-26 15:40] 1iveowl commented on #45
I tried to log the order.

The order looks ok:

1. Connect

[2017-09-26 15:53] 1iveowl commented on #45
Looks like the issue is related to the awaiter [here](https://github.com/chkr1011/MQTTnet/blob/37a5dc7abefdc3878fd58f12220c8fa84baa1078/MQTTnet.Core/Client/MqttClient.cs#L325)

[2017-09-26 17:07] 1iveowl commented on #45
Can you help me here?

I apologies my ignorance, but I have to admit that I don't understand the pattern and what is going on here with the `AddPacketAwaiter` and `TaskCompletionSource<MqttBasePacket>()`

I suppose it's a clever way to wait for the reply back from the server, I just don't understand how it works.

[2017-09-26 17:59] chkr1011 commented on #46
Hi,
thank you for your bug report. You are right this is a bug and I fixed it in the way you proposed.
A new version will be released soon.

Best regards
Christian

[2017-09-26 17:59] #46 closed

[2017-09-26 18:07] chkr1011 commented on #45
@1iveowl The dispatcher handles several incoming messages. First the well known messages are directly handled like a ping request. Then the dispatcher used if the message was not handled before. The dispatcher is simply  a list of TaskCompletionSource index by type of packet and packet ID. The advantage is that the calling code can await the wait process for a certain package. Or the wait operatio

[2017-09-26 18:08] chkr1011 commented on #45
I remember a bug in the past with the dispatcher. The problem was that the packet was already received and the PacketAwaiter was not set up at the moment. The fix was to first setup the PacketAwaiter for the response and THEN sending the request packet.

[2017-09-26 18:12] 1iveowl commented on #45
It's the very first CONNECT that times out as illustrated by the two Wireshark messages above in this issue thread.

Regarding the bug you mention. When was this fixed? I guess the order you outline is the current order.

I think I need to red up on TaskCompletionSource.

[2017-09-26 18:12] chkr1011 commented on #45
One problem I can imagine is that the Dispatcher has a dictionary now and the key is the type of the message. In a previous version it was a List instead. So I am not sure but in theory it can happen that a type of message is received twice then the old one is overridden due to the same key. We may need a trace here to test for such situations.

[2017-09-26 18:14] chkr1011 commented on #45
OK I will read this again...

[2017-09-26 18:20] 1iveowl commented on #45
If I read this code correctly then the Packet is send before the WaitForPacketAsync method is called. The methoed isn't called before the last `return` line.

[code]

Is this the bug you talk about here:

[2017-09-26 18:25] chkr1011 commented on #45
But I am wondering why this is only a problem for Windows 10 Mobile... The desktop version has really no problems at all.

I am not an expert with Wireshark so please correct me if I am wrong. The client connects without a problem and then the client wants to send the CONNECT packet but this has a delay of 12 seconds which leads to timeouts etc? If this is correct I assume the dispatcher is not th

[2017-09-26 18:29] 1iveowl commented on #45
I understand. But you need to help mere regarding the trace. Where do I find this or how do I create it?

[2017-09-26 18:31] chkr1011 commented on #45
There is a static class called _MqttTrace_. It has a event and you can attach to it and write to the Console i.e. You will also find some example code in the test apps.

[2017-09-26 18:32] 1iveowl commented on #45
OK. Thanks.

[2017-09-26 19:27] 1iveowl commented on #45
Here is how far the trace goes, which seems to correlate with the Wireshark trace.

![trace](https://user-images.githubusercontent.com/12871120/30879903-23acd162-a301-11e7-9412-2238b1a2f9f4.png)

And here is where it seems to [throw the Exception](https://github.com/chkr1011/MQTTnet/blob/37a5dc7abefdc3878fd58f12220c8fa84baa1078/MQTTnet.Core/Client/MqttPacketDispatcher.cs#L28).

[2017-09-27 01:01] JanEggers commented on #45
can you please add datetime.now to each message so we see the timing

[2017-09-27 07:03] chkr1011 commented on #45
@1iveowl This is very interesting. Assuming the messages are in the correct order (please add timestamps to the trace) the connect packet is sent and THEN the receiving is started. This is wrong. I don't know why this happends because in code the receive is started and THEN the connect packet is sent. Please test the following things:

* Use the task factory and start the receive task as _LongRunn

[2017-09-27 07:40] 1iveowl commented on #45
Here are the three traces with time.

![trace - no wait](https://user-images.githubusercontent.com/12871120/30901350-b2ab6e1c-a367-11e7-8610-89e035d99cde.png)

Changed to long running:
[code]
![trace - no wait - long running](https://user-images.githubusercontent.com/12871120/30901391-d9b9cf26-a367-11e7-9b4d-99b762991a97.png)

With added 500ms delay after `StartReceivePackets`:
![trace - 500ms wai

[2017-09-27 07:48] 1iveowl commented on #45
For reference, here are the same observations with Windows 10 Desktop:

Here are the three traces with time.
![w10 - trace - no wait](https://user-images.githubusercontent.com/12871120/30901648-f97179b2-a368-11e7-8cf1-aa1208dc6a2c.png)

Changed to long running:
![w10 - trace - no wait - long running](https://user-images.githubusercontent.com/12871120/30901653-0083f946-a369-11e7-942a-87387cc92510.p

[2017-09-27 07:51] 1iveowl commented on #45
On rare occations I've also seen things fail on Windows 10 Desktop. Since it was so rare I've discharged this. However as I did the experiments above the whole things was very controlled and I saw Windows 10 Desktop fail.

This happened with no wait after `StartReceivePackets` and using `Task.Run(() => ...)`
![w10 - trace - no wait - failed](https://user-images.githubusercontent.com/12871120/30901

[2017-09-27 07:51] chkr1011 commented on #45
Thank you. Can you maybe test with the server from this project? I want to see of the server receives the CONNECT packet. Maybe it is a network problem and not a thread or implementation issue.

[2017-09-27 07:59] 1iveowl commented on #45
The test I've run are all pointing to test.mosquitto.org.

I've also tested against MQTT Mosquitto server on my local network. I'm running all on Ethernet. No wifi.

Here's the test with broker.hivemq.com:
![local](https://user-images.githubusercontent.com/12871120/30902125-71839b5a-a36a-11e7-977e-0188113a7d36.png)

Here the test with a Mosquitto MQTT on my local network. I can access this server

[2017-09-27 08:02] 1iveowl commented on #45
From the WireShart trace above, the remote server sends a CONNACK. Would it do this if no CONNECT was send?

The strange things is that I don't see a CONNECT in the Wireshark trace.

[2017-09-27 08:27] 1iveowl commented on #45
OK. That was easy enough.

Here's the result:

![server](https://user-images.githubusercontent.com/12871120/30903255-71877546-a36e-11e7-809f-b4a2407f259c.png)

![client](https://user-images.githubusercontent.com/12871120/30903250-6ccd573c-a36e-11e7-9cb2-7ba3c0287db5.png)

[2017-09-27 08:49] chkr1011 commented on #45
I know the flow but I want to be 100 % sure :)

I will install the emulator also on my machine in the evening. Then I can test on my own. Can you maybe try to deploy the UWP test app from this repository and test with that one?

[2017-09-27 09:57] 1iveowl commented on #45
I introduced this logging:

[code]

And got this result:
![log1](https://user-images.githubusercontent.com/12871120/30907460-f93ca91e-a37a-11e7-93a6-b2d4fb2f0966.png)

Could it be deadlocking on `fixedHeader = (byte)stream.ReadByte();

[2017-09-27 15:47] 1iveowl commented on #45
I changed `SendPacketsAsync` to this and everything works!

[code]

[2017-09-27 15:51] 1iveowl commented on #45
Is the above an acceptable solution? Do you want me to create a PR?

[2017-09-27 16:09] JanEggers commented on #45
no for me it is not acceptable, the lock is gone. if there are two concurrent write operations the networkstrem gets corrupted. anyway at least we know whats the direction we have to investigate.

[2017-09-27 16:18] 1iveowl commented on #45
You are right. I would argue that the former solution with the lock had the same issue. In the original form the Task was composed with ContinueWith inside the lock, but the actual execution of the composed task was outside the lock at `await _sendTask`and hence you had the same issue with a risk of multiple concurrent threads trying to write to the stream.

What I think we need here is a Concurre

[2017-09-27 16:21] JanEggers commented on #45
it was fine by storing the sendtask and use continue with there may be only one send active at a time. i cant get the uwp testapp running on my machine :(

[2017-09-27 16:36] chkr1011 commented on #45
I am wondering. I assume that the Lock is useless because the library is not thread safe at all. So you should Lock Access to it on your own.

I am thinking abt the continue with. If we move write and flush to one continuation it should be fi

[2017-09-27 16:51] JanEggers commented on #45
i am investigating on system.task.threading.channels for msg buffer which looks promising but is alpha. the idea with the lock context might be right. can you verify the original code with a separate lock object and see if that fixes the issue?

[2017-09-27 16:51] chkr1011 commented on #45
The continuation is the Queue then because the Task is held in a field.

[2017-09-27 17:01] 1iveowl commented on #45
@chkr1011 The combination of the Task held in a field and locking on _channel, seem to have a queuing effect. But I'm not sure that it all crystal clear to me how it all works together. And also, the design clearly have some negative side-effect in UWP that is consistent on Windows 10 Mobile and only shows itself occasionally on Windows 10 Desktop.

@JanEggers Yes, I was thinking the same thing I

[2017-09-27 17:14] chkr1011 commented on #45
I am about 100 % Sure that we can avoid the Lock and the continuation is a suitable queueing mechanism. A separate Queue with a thread seems overkill to me because ist is similar to packet awaiter. Because the caller still needs the exception. So

[2017-09-27 18:10] 1iveowl commented on #45
If I understand the code right,  there are currently three thread being spun up [here](https://github.com/chkr1011/MQTTnet/blob/37a5dc7abefdc3878fd58f12220c8fa84baa1078/MQTTnet.Core/Client/MqttClient.cs#L415).

All three thread have code paths that lead them through: `SendPacketsAsync`.

`SendPacketsAsync` contains code that writes to the same stream. With multiple threads trying to write to the s

[2017-09-27 18:53] 1iveowl commented on #45
You can see the same expressed in code here #47

Let me know what you think. I've tested it for the issue at hand for UWP across Desktop and Phone.

Could be interesting understand how it performs compared to the current solution.

[2017-09-27 19:26] chkr1011 commented on #45
@1iveowl Yes that is correctly explained.

I was able to install the Windows Mobile 10 Emulator and test it on my own. The UWP test app from this project works without problems. I tested it with _broker.hivemq.com_.

I have reviewed your pull request but to me it seems too much to solve the issue. I fixed it in my way in the current develop branch. I tested it with the UWP test app in the emulator

[2017-09-27 19:34] 1iveowl commented on #45
@chkr1011

I just tested this and unfortunately it does not work:
![waittask](https://user-images.githubusercontent.com/12871120/30933643-6d1a05ac-a3cb-11e7-923b-8204f047d31a.png)

Did you test in Release Mode? Or rather with Native Tool Chain?

[2017-09-27 19:38] 1iveowl commented on #45
Would you mind try running a single round of perf test with my suggestion? If it's slower then I agree that it is a dead end.

BTW: What is the purpose of this line? `var waitTask = _waitTask;` ?

[2017-09-27 19:38] 1iveowl commented on #45
Would you mind try running a single round of perf test with my suggestion? If it's slower then I agree that it is a dead end.

BTW: What is the purpose of this line? `var waitTask = _waitTask;` ?

[2017-09-27 19:40] 1iveowl commented on #45
I think the issue could be that _waittask is not thread safe.

[2017-09-27 19:46] 1iveowl commented on #45
@chkr1011 You said it earlier. The lock on _channel is useless. You are right. It was not _channel that was the problem.

The issue all along have been that if two thread reach `SendPacketsAsync`  at the same time, they both try to _do_ ContinueWith  on _waitTask, but since waitTask is not Thread Safe things go haywire and start locking up. For some reason this happens consistently with Windows 10

[2017-09-27 19:50] 1iveowl commented on #45
I think that no matter how, when multiple threads are involved _Concurrency_ and _Order_ needs to be handled. _Locks_ handle concurrency and _Queues_ handles order.

With _waitTask; order is being handled, but Thread Safe Concurrency is not.

[2017-09-27 21:01] 1iveowl commented on #45
So did a quick perf test.

Here's the latest results with ContinueWith:
![continuewith](https://user-images.githubusercontent.com/12871120/30937642-b046c200-a3d7-11e7-8b57-217ef2967c73.png)

Here's the result with the ConcurrentQueue:
![queue](https://user-images.githubusercontent.com/12871120/30937629-ac4a5630-a3d7-11e7-8d64-e4e90387bccb.png)

[2017-09-28 06:22] JanEggers commented on #45
@chkr1011 : i think it will break without the lock as there now may be multiple assignments to the task member. if you want to test concurrency enable these lines in the testcode. instead of bulk write they will send msgs in parallel. If that works than it is safe.

https://github.com/chkr1011/MQTTnet/blob/e947881acaa6a0eec196b017f68ccc07dac4e02c/Tests/MQTTnet.TestApp.NetFramework/PerformanceTest.

[2017-09-28 07:01] chkr1011 commented on #45
@1iveowl Can you please share your code of the app? Before accepting any solution (mine or yours or whatever) I would like to reproduce that issue. I tested the UWP test app from this project with the emulator and it works without any problems multiple times.

I reviewed your changes with the Concurrent Queue and this is not an acceptable solution because the exceptions are hidden. If you call _Pu

[2017-09-28 07:32] chkr1011 commented on #45
@1iveowl @JanEggers I migrated the code to use a semaphore instead of a lock. With the performance test it works fine.

[2017-09-28 07:42] 1iveowl commented on #45
@chkr1011 The test code is I'm using is [here](https://github.com/1iveowl/MQTTClient.rx/tree/develop) on the Develop branch. The only difference is that I wrap the events and make the whole thing observable using System.Reactive - i.e. using [Reactive Extensions](https://msdn.microsoft.com/en-us/library/hh242985(v=vs.103).aspxl). System.Reactive is not some hobby library. It was originally made by

[2017-09-28 07:50] chkr1011 commented on #45
@1iveowl Thanks for sharing. I will test it but in the evening today. Locking on a higher level was just an idea. I just want to spread ideas.

The semaphore is quite fast. There is no comparison with a queue because it is a different approach but it is fast as a simple lock statement.

I hope this will fix it finally :-)

[2017-09-28 07:53] 1iveowl commented on #45
@chkr1011 I just tested the Semaphore approach. I ran it 5 times without seeing any issue on the Windows 10 Mobile Emulator. Also I ran the perf test and it has the same exact performance characteristics as ConcurrentQueue.

I think we got a winner 👍

[2017-09-28 07:58] chkr1011 commented on #45
Lets wait for the results of my tests 😄

[2017-09-28 08:03] 1iveowl commented on #45
@chkr1011 Haha. I was just so excited. This thing have been haunting me for days! :-)

@JanEggers I ran your suggested multi thread test. Both the Semaphore test and the ConcurrentQueue works fine. There are no lock-ups. However to be fair the Semaphore approach does seem to have the best performance characteristics with multiple threads.

[2017-09-28 08:07] JanEggers commented on #45
+1 for semaphore looks nice and clean

[2017-09-28 08:21] JTrotta commented on #45
+1 for concurrent queue. Works perfect on win/mono and it's cleaner, readable and modern as well.

[2017-09-28 16:08] chkr1011 commented on #45
My tests are running fine. I will release a new version soon. Thank you for your help here. 👍

[2017-09-28 16:08] #45 closed

[2017-09-28 16:10] 1iveowl commented on #45
Likewise, thank you for ensuring my persistence 😉

[2017-09-28 16:10] 1iveowl commented on #45
Ensuring = enduring

[2017-09-29 07:09] haeberle opened #48 "Loop in Exception"
I found a small issue in the Server implementation. I tested the server in a “rough environment”, means sometimes the MQTT clients go down without an unsubscription by the server and are off for minutes and reconnect again.

My understanding of the code is, the SendPendingPublishPacketsAsync Methods sends the pakages to the client. In case the remote host is not available, the SendPacketsAsync run

[2017-09-29 07:31] chkr1011 commented on #48
@JanEggers I saw that you added the _GetConsumingEnumerable_. Can you tell me the purpose of it because I never that this method before and I have no idea what it is used for!?

[2017-09-29 08:51] haeberle commented on #48
Another topic in the Exception loop is the

[code]
Based on my understanding of the Protocol 3.1.1 is, only resend pakages in QoS > 0. For that,  I propose to change the code:
[code]

[2017-09-29 17:08] JanEggers commented on #48
each item that is read with this enumerable is removed form the collection, so the BlockingCollection is basicly a queue. my first implementation was

`
foreach( var packet in  _pendingPublishPackets.GetConsumingEnumerable()) {
       await adapter.SendPacketsAsync(_options.DefaultCommunicationTimeout, cancellationToken, packet).ConfigureAwait(false);
}
`

that way, with each loop iteration a pack

[2017-09-30 10:42] haeberle commented on #48
My understanding is, the MqttClientMessageQueue is unique per connected Client, it should not impact any other session. To use a trial counter helps to manage longer response times for the client. But the wait time or number of trails could alsp be higher to wait a longer time in case the client is really busy before retun with the timeout. Was not able to find anything about response time in the

[2017-09-30 16:44] chkr1011 commented on #48
@haeberle Please have a look at the develop branch. There is added support for _retained_ messages and also saving of them. In order to implement this I changed the connection handling for client sessions.

I hope this also fixes your problems. I still integrated your changes regarding the _Dup_ flag. But the retries are no longer needed because the connection is dropped directly.

Best regards
Ch

[2017-10-01 09:05] JTrotta opened #49 "Suggestion: Mono support"
I tested the library on MONO (last version), and it works very well.
I will do much more intensive test this month. But you can assume:
Supported frameworks:
NET Standard 1.3+
.NET Core 1.1+
.NET Core App 1.1+
.NET Framework 4.5.2+ (x86, x64, AnyCPU)
Universal Windows (UWP) 10.0.10240+ (x86, x64, ARM, AnyCPU)
MONO

[2017-10-01 10:44] chkr1011 commented on #49
Hi,
thank you for your feedback! Do you know which version of Mono? Then I can add those details to the _Readme_.

Best regards
Christian

[2017-10-02 06:12] haeberle commented on #48
Thanks a lot Christian!

I run some tests and so fare, the implementation is really stable and works. One thing we should think about, the exception if the remote host / Client is offline because an offline scenario could happen as regular issue and if possible, the application should managed that with state not as an exception.

Kind regards
Hans

[2017-10-02 07:18] JTrotta commented on #49
Of course!
Mono JIT compiler version 5.2.0.224 (tarball Mon Sep 18 18:57:13 UTC 2017)

Regards
Gerardo

[2017-10-02 08:54] chkr1011 commented on #49
OK thank you.

[2017-10-02 08:54] #49 closed

[2017-10-02 08:57] chkr1011 commented on #48
OK perfect so far  :smile:

But I don't know what you mean with the scenario of disconnected clients. Also in _develop_ there is a new event for a disconnected client and this can happen all the time. So the connections are managed correctly in my opinion. Or do you don't want that internally an exception is thrown? At the moment this is properly handled but exposed as a warning in the trace. Is t

[2017-10-02 12:52] JanEggers opened #50 "ClientConnected does not use ClientId and does not match connectedclientlist"
hi two issue around client connected event:

1. if a client connected event is triggered Server.GetConnectedClients() does not contain the new client.
id expect that the client is in the list of connected cliensts if an event signals this.

2. the identifier in the event is the remote endpoint of that socket or something else for websockets.
id expect the client id of the connect packet in the eve

[2017-10-02 18:40] haeberle commented on #48
Hello Christian

Looks great with the disconnect, can you please add the handler also in the IMqttServer interface ?

Second is, I struggled with the exceptions because of the static trace, I have the Server and Client in the same UW. I cannot differentiated between the server and client instance in a trace.  I have to change it and will come back with feedback, because for some reasons, if the cl

[2017-10-02 18:43] chkr1011 commented on #50
Hi,
yes I agree this is a issue. The event is fired directly after the physical connection is made via TCP etc. not after the session is set up and running.

If you want to change this keep going :-)

I would prefer to stay with the existing events (in _develop_ branch) with a changed behavior of the _ClientConnected_ event including the real _ClientId_ and some other information like username etc

[2017-10-02 18:46] chkr1011 commented on #48
Oh yes sure I will add it.

Isn't it enough to filter via _Source_ in the trace messages? If you need other data etc. please let me know.

Can you please paste some trace with that task cancelled exceptions?

[2017-10-02 18:48] JanEggers commented on #50
yup sounds good

[2017-10-02 19:03] chkr1011 commented on #50
Ah yes and please add the _ConnectedClient_ to the _ClientDisconnected_ event. In my opinion it is useful there too 😄

[2017-10-03 11:24] asebak opened #52 "Ignore TLS Errors"
Great library so far, How do I ignore tls certificate errors using your library.

[2017-10-03 11:39] #52 closed

[2017-10-03 15:26] sehd opened #53 "Web Socket support in MQTTNet Server"
The documentation is unclear and I couldn't find anything in the source code about Web Socket support in this library.
If it does support WS connections please tell me how to use it because I can't connect to the server with web sockets but I can using pure TCP connections.

Thanks.

[2017-10-04 08:54] JTrotta opened #54 "How to use TlsOptions certificates list?"
May you add a wiki example?
I cannot get it working.

Thank you
JJ

[2017-10-04 10:32] chkr1011 commented on #53
Hi,
I updated the Wiki with an example: https://github.com/chkr1011/MQTTnet/wiki/MqttClient
If you need more information please let me know

Best regards
Christian

[2017-10-04 10:32] #53 closed

[2017-10-04 10:34] chkr1011 commented on #54
Sure I will. Can you please share the code you are using and which exception is thrown first?

[2017-10-04 10:37] JTrotta opened #55 "Enhancement: modify psw during reconnect"
I suggest to implement a new feature. Now the password seems to be static and must be given during the client creation. It is very useful to modify the psw during connection (dynamic psw) and not during client creation.
For example it's possible to use a TOTP psw during reconnection.

I will propose a PR.
JJ

[2017-10-04 10:42] #50 closed

[2017-10-04 10:53] chkr1011 commented on #55
Hi, thank you for your request.
There is no PR required because I am already working on such a feature 😄

Best regards
Christian

[2017-10-04 11:32] sehd commented on #53
As the title suggests I'm talking about Server.

[2017-10-04 11:36] chkr1011 commented on #53
Ah sorry 😄

This is currently not supported because it highly depends on the HTTP server you use. I started a HTTP server library which will have support for it but at the moment it is not ready.

If you use a certain HTTP server you can write a adapter for the server.

Best regards
Christian

[2017-10-04 11:55] haeberle commented on #48
Hi Christian

here the output:
[code]

The challenge is now, to find the source of the issue, I'm using the Broker and the Client in the same app and using the MqqtTrace.TraceMessagePublished to trace issues. Currently I cannot differenciate between an issue in the Broker or Client code. The Source doesn't help much, because it is related to class names and I have to go to the code for the first a

[2017-10-04 12:00] chkr1011 commented on #48
OK this exception is not properly handled. I fixed it. Please retest with the develop branch BUT I also changed the options handling so you have to rewrite your code because it is a breaking change. In the test apps you can see how it works now.

Why are you using server and client in same application? What is the use case for that (beside of testing)?

[2017-10-04 12:11] haeberle commented on #48
Thanks a lot!

The reason to have both in the same UWP app is, it is not possible to communicate between UWP apps on the same host without any configuration on the host system. The final app is a IoT Solution, to distribute different services on multiple devices (Win 10 IoT). And at least, one has to act as MqttBroker and potentially as Client too.

[2017-10-04 12:23] chkr1011 commented on #48
I had the same issues and it was the reason to start this library 😄

The server also has a _Publish_ method. You can use this without a separate loopback client. It is also faster because no packet transformation etc. is required.

[2017-10-04 12:26] haeberle commented on #48
ah, ;-) ... sounds perfect.. I will test and come back..

[2017-10-04 13:49] JTrotta commented on #54
Sorry. No errors at all. The certificate used was wrong.
Only one doubt: what is the best method to export certificate into byte array from X509Certificate2?

[2017-10-04 16:34] JTrotta opened #56 "TLS stream with MONO"
I found an issue using TLS and MONO during connection.
To allow secured connections to work in MONO, we need to manage the RemoteCertificateValidationCallback of the SSLStream. So into MqttTcpChannel :

`_sslStream = new SslStream(new NetworkStream(_socket, true), false, this.userCertificateValidationCallback, this.userCertificateSelectionCallback);`

The two callbaack should be exposed to the cal

[2017-10-04 16:34] #55 closed

[2017-10-04 21:27] chkr1011 commented on #56
Please have a look at ticket #30. This is this feature already discussed. The problem is that the event cannot be used because it is not available for every platform. In UWP there is no such event. There is only an enum (Flags) which can be set first. So I have to implement a similar enum too and map the behavior to every platform which is currently supported. Internally the mentioned event can be

[2017-10-04 21:32] chkr1011 commented on #54
Sorry but I don't know which the best method is. I often work with certificates from the personal store only.

[2017-10-04 21:32] #54 closed

[2017-10-05 08:00] JTrotta commented on #56
Good solution.
in the meanwhile I have patched the MQTTnet.NetFramework only.
JJ

[2017-10-05 12:50] raymondarvidsson opened #57 "Number of certificates for UWP"
Hi,

I´m working in a Univeral Windows project. When I check you code it seems like I only can have one certificate. The server I´m accessing needs One certificate, one private key and a ca certificate. Create an PFX-certificate and I´m done?

/Raymond

[2017-10-05 13:21] raymondarvidsson opened #58 "An unknown error occurred while processing the certificate"
Cannot use a pfx-certificate. Get "An unknown error occurred while processing the certificate".

Should I use code:
   tlsOptions.Certificates = new List<byte[]>();
   byte[] byteArray = cert.GetRawCertData();
   tlsOptions.Certificates.Add(byteArray);

[2017-10-07 07:17] JTrotta commented on #57
Hi,
the library accept a list of certificates, not just one. Look at MqttClientTlsOptions. The Certificates property is a list of bytes.
The server you're talking about really needs a CA certificate and PKey? Strange. You should just sends your client certificate.

JJ

[2017-10-07 07:20] JTrotta commented on #58
Try:
`X509Certificate2 ca = new X509Certificate2(Path.Combine(Environment.CurrentDirectory, "cert.xxx"));
byte[] tosend = ca.Export(X509ContentType.XXX);   `
Check at X509ContentType enumerator

[2017-10-07 11:11] chkr1011 commented on #57
Hi,
I am not an expert of certificate handling in .net but internally the certificate is passed into the following property of the framework: _StreamSocket.Control.ClientCertificate_

More info: https://docs.microsoft.com/en-us/uwp/api/windows.networking.sockets.streamsocketcontrol

I also found some more info about a similar problem (but c++) here: https://social.msdn.microsoft.com/Forums/vstudio

[2017-10-07 11:12] chkr1011 commented on #58
Please read comment of #57. Maybe it is related.

[2017-10-07 17:54] chkr1011 commented on #30
Please have a look at the develop branch. I added several TLS options regarding certificate validation. Please let me know if this fits your needs.

[2017-10-07 17:54] chkr1011 commented on #56
Please have a look at the develop branch. I added several TLS options regarding certificate validation. Please let me know if this fits your needs.

[2017-10-07 17:55] #58 closed

[2017-10-09 09:07] asebak opened #59 "Make IgnorableServerCertificateErrors Configurable"
Any way to make the IgnorableServerCertificateErrors configurable.  I needed  a way to add one but couldn't do so.

Right now it's harded coded with the following:

                    _socket.Control.IgnorableServerCertificateErrors.Add(ChainValidationResult.IncompleteChain);
                    _socket.Control.IgnorableServerCertificateErrors.Add(ChainValidationResult.RevocationInformationMissin

[2017-10-09 09:24] chkr1011 commented on #59
Hi,
please have a look at the _develop_ branch. The next version has more options. But it is still not possible to add own because the implementations are different per platform.

Please let me know if you need further options as in _develop_. The next version will be released soon.

Best regards
Christian

[2017-10-09 09:44] asebak commented on #59
Yeah it looks like you added more, the specific one I needed was ChainValidationResult.InvalidName

[2017-10-09 14:47] rydergillen-compacSort commented on #30
Looks like it should work fine for my needs. I will take the updated package a run a few tests.

[2017-10-09 17:44] chkr1011 commented on #30
I also added a callback mechanism for dealing with complex certificate validations. It is described in the wiki. I will close this ticket. Please let me know it you need more features to deal with certificates.

Best regards
Christian

[2017-10-09 17:44] #30 closed

[2017-10-09 17:44] chkr1011 commented on #59
I also added a callback mechanism for dealing with complex certificate validations. It is described in the wiki. I will close this ticket. Please let me know it you need more features to deal with certificates.

Best regards
Christian

[2017-10-09 17:44] #59 closed

[2017-10-09 17:45] chkr1011 commented on #48
I released a new version. Please reopen this ticket if required.
Best regards
Christian

[2017-10-09 17:45] #48 closed

[2017-10-11 09:16] JTrotta commented on #56
It works. But I would have preferred a function parameter to be used or not, and not the static function.

Thank you.
JJ

[2017-10-11 09:50] chkr1011 commented on #56
I know this is a ugly solution. The problem is that the .net framework has different API for this in UWP and thus I cannot just pass a parameter etc. I will consider adding this to the factory which is unique per platform (Factory constructor). Then it is at least no more static.

Best regards
Christian

[2017-10-11 14:39] Zuendelmeister opened #60 "Certificate example"
Hi,

can you please write an example of how to use the certificate for TLS encryption?
I couldn't find the way how to do it.
Thanks =)

Best regards,
Zuendelmeister

[2017-10-11 17:57] JTrotta opened #61 "MQTT ExactlyOnce and AtLeastOnce"
Hello,
The MQTT protocol has 3 publish type. The last two (whose name are in the object), can inform the client that the message has been received with 100% of reliability.
Would be nice to have this information published, i.e. when using ::
`public static Task PublishAsync(this IMqttClient client, params MqttApplicationMessage[] applicationMessages);`

You should return some object result with SE

[2017-10-11 20:23] chkr1011 commented on #61
Hi,
this is already available. An exception is thrown if the publish process has failed for any reason. This means that every QoS has worked if no exception was thrown.

Best regards
Christian

[2017-10-11 20:25] chkr1011 commented on #60
Hi,
I really want to but I am not an expert with certificates. I personally don't use that feature. I just exposed the API from the .NET Framework. It is possible to share some error details. If we fix your issues I can maybe use it for an example.

Best regards
Christian

[2017-10-12 06:13] JTrotta commented on #61
I will test, and let you know.
JJ

[2017-10-12 09:56] Zuendelmeister commented on #60
Hi again,

maybe we can solve this together. This is what I did:
Broker:

            {
                ConnectionValidator = p =>
                {
                    Console.WriteLine("New");
                    Console.WriteLine(p.ClientId);
                    return MqttConnectReturnCode.ConnectionAccepted;
                }
            };
            options.TlsEndpointOptions.IsEnabled = t

[2017-10-12 13:06] JTrotta commented on #61
You mean that this code raise into catch if PublishAsync was not successful?
`
try{
var applicationMessage = messageFactory.CreateApplicationMessage(topic, Encoding.UTF8.GetBytes(strMsg), MqttQualityOfServiceLevel.ExactlyOnce,false);
 await _client.PublishAsync(applicationMessage);
}
catch (Exception e)
{

}
`
Regards
JJ

[2017-10-12 13:19] RainerMueller82 commented on #60
Hi!

I'm facing the same problem here.

Without TLS all is fine, when I try to enable it, the client cannot connect and runs into a timeout.

When I try to use TLS, I just add the following lines of code:

Broker:
			options.TlsEndpointOptions.Certificate = File.ReadAllBytes("server.crt");
			options.TlsEndpointOptions.IsEnabled = true;

Client:
			var tlsOptions = new MqttClientTlsOptions
			{

[2017-10-12 13:40] JTrotta commented on #60
Activate the custom validation, and check what's happen there:
` MqttTcpChannel.CustomCertificateValidationCallback`

[2017-10-12 14:38] RainerMueller82 commented on #60
Hi!

Can you explain this a bit more detailed? Where should I set this callback?

[2017-10-13 07:42] JTrotta commented on #61
I did some tests. It seems that after DefaultCommunicationTimeout is thrown an exception, but the client does not not which message has not been received by the server. Isn't it ?
A client that sends a QOS 3 message wants to be sure the server received it. It can be done using the MQTTNET internal queue, and re sending it after the re-connection, or informing the client that messages 1,2...n, have

[2017-10-13 08:35] RainerMueller82 commented on #60
I just managed to get the MQTTnet client working with a gnatMQ broker using TLS 1.2.

Perhaps we should focus on the broker ...

[2017-10-13 08:44] JTrotta commented on #60
Ok, but it works with other broker too.
You should use the CustomCertificateValidationCallback on client, to check if the server reply to you with the certificates chain.
Let us know.
JJ

[2017-10-13 08:53] RainerMueller82 commented on #60
Hi!
I've put the validation callback in the client code, but it is not hit. Not with the MQTTnet broker and not with the gnatMQ broker.

:-(

[2017-10-13 09:17] JTrotta commented on #60
Strange,
that's my options:
`            _mqttOptions = new MqttClientTcpOptions();
            _mqttOptions.CleanSession = true;
            _mqttOptions.ClientId ="TEST";
            _mqttOptions.DefaultCommunicationTimeout = TimeSpan.FromSeconds(20);
            _mqttOptions.KeepAlivePeriod = TimeSpan.FromSeconds(31);

            _mqttOptions.Port = 1883;
            _mqttOptions.Server = MQTT

[2017-10-13 09:28] RainerMueller82 commented on #60
Ok, now the Validation-Callback is hit when I'm using the gnatMQ broker, but not with the MQTTnet one.

I really think the problem is on the server-side.

How do you pass your certificate?

This is my configuration:

options.TlsEndpointOptions.Certificate = new X509Certificate2(File.ReadAllBytes("server.pfx"), "password").RawData;
			options.TlsEndpointOptions.IsEnabled = true;

			MqttTcpChannel.

[2017-10-13 09:56] Zuendelmeister commented on #60
Thanks everyone for looking into this. I changed my Code to set the certificate like RainerMueller82 did.
Unfortunately "MqttTcpChannel.CustomCertificateValidationCallback = remoteValidation;" shows an error. What is this remoteValidation?
And even with the certificate set right nothing happens. The broker doesn't get  a connection from the client.
Ideas?

[2017-10-13 10:00] JTrotta commented on #60
You're right, I forgot it
remote validation:
`        private bool remoteValidation(X509Certificate certificate,
            X509Chain chain,
            System.Net.Security.SslPolicyErrors sslPolicyErrors,
            MqttClientTcpOptions options)
        {
            //check certificate and return true or false
            return true;
        }`

[2017-10-13 10:35] Zuendelmeister commented on #60
I think I tried everything that is mentioned but I still get a timeout.
Ok so this is my Code right now:
Client:

    {
        private static bool remoteValidation(X509Certificate certificate, X509Chain chain, System.Net.Security.SslPolicyErrors sslPolicyErrors, MqttClientTcpOptions options)
        { return true; }
          //{ //check certificate and return true or false return true; }

[2017-10-13 10:44] chkr1011 commented on #60
Thanks you sharing code! I am also testing on my own. Maybe some hints:
1) The implementation is different per Platform (UWP etc.). Wich are you using @Zuendelmeister
2) Good to read that maybe the broker is the root cause.
2 a) @Zuendelmeister Can you provide a trace using the _MqttNetTrace_? I want to see if a connection is made at TCP level (at least). Or if we see an exception.
3 b) Assuming y

[2017-10-13 11:44] Zuendelmeister commented on #60
Hi @chkr1011,
1.: I'm using this library for net core (so NetStandard).
2. I would certainly provide a trace, but never uset MqttNetTrace before. How do I do it? How do I define the clientSocket? Can you please provide an example for NetStandard?

Best regards,
Zuendelmeister

[2017-10-13 11:56] chkr1011 commented on #60
The class _MqttNetTrace_ has a static event. You can attach to it and write a line with all information from the event args to the Console (I will add an example for it at the weekend or so).

I will search for it. But I assume I can support you here not before the weekend.

[2017-10-13 14:37] JanEggers opened #62 "cleanup project / reduce duplicated code"
i would like to submit a pr that deletes .net framework projects and adds net45 or net46 as targetframework to the .net.sdk based projects.

net45 would mean same compatibility but 3 ifdefs
net46 requires higher dependency but no ifdef required

@chkr1011 thoughts?

[2017-10-13 21:20] chkr1011 commented on #62
Sorry but I don't get it 😄 Maybe because it is to late (here) 😄

You want to delete the .net framework platform project right. This is OK if .NET 4.5 is still supported in another way. But what do you mean with ".net.sdk"? Do you mean netstandard?

In general some #ifdef are not a problem for me. I was also thinking about it because at the moment it is a lot copy & paste. Too much in my opinion.

[2017-10-13 21:26] chkr1011 commented on #61
Yes you are right. If you send multiple ones you don't know which where send and which not. At the moment the only way for you is to add a layer on top like _QueuedMqttClient_ i.e. Also there is no internal queue in the client. If QoS 3 fails directly it is not retried. But I will consider creating a _QueuedMqttClient_ in a future version which sits on top of the _MqttClient_ and has a queue and p

[2017-10-14 06:15] JanEggers commented on #62
i created a pr and added a comment on the sdk thing i was referring to.

[2017-10-14 06:20] JanEggers commented on #62
maybe this change is also an option for uwp but i didnt port that because uwp does things different and the testapp is much different too

[2017-10-14 08:08] JTrotta commented on #61
Ok,
I will wrote a PR with a concurrentqueue to manage sent/unsent message.
JJ

[2017-10-14 11:49] chkr1011 commented on #61
@JanEggers OK please implement it as an extension. So a new Client wich uses the original client. Then users can decide to use the existing one or the new one with predefined rules. The actual _MqttClient_ should as simple as possible.

[2017-10-14 23:18] chkr1011 commented on #62
I can see that the BufferedStream is no longer used!? Was it used in the regular .NET Framework project? If it is not used I assume we can remove the "Raw" Stream?

[2017-10-15 08:20] JanEggers commented on #62
thx for pointing that out. i submitted another pr that brings back buffering for .net and added some comments when the ifdefs might be removed again.

btw can you change your default branch to develop so github uses it when creating a pr i always get it wrong....

[2017-10-15 09:27] chkr1011 commented on #62
I tried it but then the develop branch is also shown at the GitHub page per default. Do you also know how set the master for "startpage" but develop as default for pull requests? But I can change it. It is not a problem for me 😄

[2017-10-15 09:29] JanEggers commented on #62
gues i have to pay attention when creating a pr after all ^^

[2017-10-15 09:31] chkr1011 commented on #62
OK 😄

[2017-10-15 09:31] #62 closed

[2017-10-15 09:31] chkr1011 commented on #60
@Zuendelmeister Do you have some trace for us?

[2017-10-16 07:42] Zuendelmeister commented on #60
@chkr1011 no not yet, I thought you want to provide some example code on how to use MqttNetTrace?

[2017-10-16 07:44] chkr1011 commented on #60
Oh yes sorry I updated the Wiki already.

[2017-10-16 07:50] Zuendelmeister commented on #60
Ah thanks, I didn't see that. Here is what I got:

Doesn't seem too helpfull though.

[2017-10-16 08:07] chkr1011 commented on #60
And the server is running in the same process?

[2017-10-16 08:40] Zuendelmeister commented on #60
Aah sry that was wrong by me.

System.NotSupportedException: The server mode SSL must use a certificate with the associated private key.
   at System.Net.Security.SecureChannel.AcquireServerCredentials(Byte[]& thumbPrint)
   at System.Net.Security.SecureChannel.GenerateToken(Byte[] input, Int32 offset, Int32 count, Byte[]& output)
   at System.Net.Security.SecureChannel.NextMessage(Byte[] incoming

[2017-10-16 08:57] chkr1011 commented on #60
There you have it. You need the private key in the certificate. I will consider adding an exception in the _StartAsync_ method which will check this to avoid confusion.

[2017-10-16 10:53] Zuendelmeister commented on #60
I see. So somehow I have to create a certificate with a private key. I take a deeper look and get back to you.

[2017-10-16 11:00] JTrotta commented on #60
Look here:
`X509Certificate2 ca = new X509Certificate2(Path.Combine(Environment.CurrentDirectory, "certificate.pem"));
byte[] certifacetWithKey = ca.Export(X509ContentType.Pfx);`

One X509ContentType enumerator will export the private key.
JJ

[2017-10-16 11:06] RainerMueller82 commented on #60
Hi!

I'm using the Pfx file. Is this file not already a certificate/key
combination?

BR, Rainer.

2017-10-16 13:00 GMT+02:00 Gerardo <notifications@github.com>:

[2017-10-16 11:12] Zuendelmeister commented on #60
@JTrotta, thank you so much =) I try this out when I can. I found another way to create a certificate with a private key and that works quit fine.
For the Wiki I try to to summarize:
I created a key and certificate like described here: https://errorin10.wordpress.com/2017/08/25/install-apache2-with-sllhttps-on-ubuntu/ under "create certificate" with openssl.
Next I created a certificate  with the

[2017-10-17 08:57] qcjxberin opened #65 "How to Use With WebSocket Server"
How to Use With WebSocket Server,Could you Write a Demo With this?

[2017-10-17 11:18] JTrotta commented on #61
@chkr1011 , Mqttnet.Core is .net stantard 1.1 target framework. Would it be possible to update it to 2.0?
Because 1.1 does not have file system API, I need it for persistence.
JJ

[2017-10-17 17:19] chkr1011 commented on #60
Thank you for your support. I will write a Wiki entry basing on this.

[2017-10-17 17:21] chkr1011 commented on #57
@raymondarvidsson I assume you don't need more assistance. If I am wrong please reopen this ticket.

[2017-10-17 17:21] #57 closed

[2017-10-17 17:28] #60 closed

[2017-10-17 17:44] chkr1011 commented on #61
@JTrotta Upgrading to .netstandard 2,0 is on the list but at the moment not possible. For UWP support for 2.0 will come with the official "Fall Creators Update". And I want to limit this library to only "cutting edge" frameworks. The goal is to support at least .NET 4.5.2. This also still supported by Microsoft.

But 1.1 is compatible with 2.0. You can reference it from a 2.0 project and use it.

[2017-10-17 17:55] chkr1011 commented on #65
Hi this is not fully implemented yet. I started a new library called _HTTPnet_ which will be used for this in the future. Implementing this is quire complex because the used HTTP library can change. There are several available for .NET. If you already use one you can have a look at the _https://github.com/chkr1011/MQTTnet/blob/master/Frameworks/MQTTnet.NetStandard/Implementations/MqttServerAdapter

[2017-10-18 12:58] RainerMueller82 opened #67 "disconnected-event"
Hi!
It looks like the disconnected event of the client is called when a ConnectAsync fails.
Wouldn't it be better to call the event only if the client was really connected before?

BR, Rainer.

[2017-10-18 17:50] chkr1011 commented on #67
Hi,
the idea behind this behavior is that you call _ConnectAsync_ only one time and put retry logic into the _Disconnected_ event. It does not matter why the connection drops. The event is always called and thus the reconnect will work always.

Do you have some troubles with that approach? Do you may need several properties in the event which inform about the previous connection state (Connected /

[2017-10-18 18:33] RainerMueller82 commented on #67
Ah ok! Thats exactly what I did, I have a retry loop. This logic is
triggered at startup and when the disconnect event is called. But with this
approach, the connection process is triggered everytime the connection
fails. Perhaps i should redesign my code with your hints in mind.

Thx!

Am 18.10.2017 19:50 schrieb "Christian" <notifications@github.com>:

[2017-10-19 06:08] chkr1011 commented on #67
OK I will also extend the _Disconnected_ event. Then you can check if the client was connected before or not.

[2017-10-19 06:08] #67 closed

[2017-10-19 19:27] ChristianRiedl commented on #65
I tried to integrate MQTTNet into a AspNetCore 2.0 web server. It was possible with some small additional classes and I changed _WebSocketStream_ class to wrap _WebSocket_ instead of _ClientWebSocket_ . I still get some exceptions when client disconnects but it works.

@chkr1011 : I think ASpNetCore 2.0 is netstandard 2.0 so it should run on latest Windows 10 Iot Core. I know it is heavy compared

[2017-10-19 21:13] haeberle opened #68 "MqttNetTrace"
In my app I have to instantiate more than one client. Issue is, as long the MqttNetTrace is a static class, I’m not able to differentiate messages between the different client or server instances in my app. I defined an interface based on the MqttNetTrace and added the interface as property in the MqttServerOptions / MqttClientOptions and reimplement the MqttNetTrace based in the Interface but not

[2017-10-20 07:07] chkr1011 commented on #68
Hi,
I will add the event of the trace class to the options. The write methods are only for internal purposes.

I am also interested in the use case for having multiple clients. Can you give me some details?

Best regards
Christian

[2017-10-20 07:33] JTrotta commented on #68
@haeberle , yes please. Which are the case when more clients on the same machine are needed?
I'm curious.

[2017-10-20 08:01] haeberle commented on #68
Thanks Christian

sure, the app has to translate data between two or more brokers and also other protocols, like KNX, Siemens Logo, S7, etc. And also to act as a broker if needed.

[2017-10-20 08:03] haeberle commented on #68
I can share the code if needed, I did the trace changes already and the test is running...

[2017-10-20 08:36] chkr1011 commented on #68
@haeberle Thank you but sharing is not required. I already changed a lot due to new features. Writing it on my own seems to be faster 😄

Sounds like a smart home project. Tell me more. I also have a smart home project called "Wirehome" which is also here on GitHub. So I am very interested 😄

Best regards
Christian

[2017-10-20 09:40] ChristianRiedl opened #69 "Please change WebSocketStream to use WebSocket instead of ClientWebSocket"
I integrated **MQTTnet** in an AspNetCore web app. `WebSocketStream `can be used for all websocket **client** **and** server implementations when you change the parameter to class _WebSocket_.

[2017-10-20 17:58] chkr1011 commented on #69
I will have a look and see how to change this. Do you agree that I add your code to the Wiki as a reference and also to the repository?

Let's continue with this topic at #65 because this is a duplicate.

[2017-10-20 17:58] #69 closed

[2017-10-20 22:17] chkr1011 commented on #65
@ChristianRiedl I added your code to the _develop_ branch and also fixed some issues. For me it seems to work now. Please test it and let me know if it works or if it still has issues.

Best regards
Christian

[2017-10-20 22:18] chkr1011 commented on #65
@qcjxberin Support for WebSockets is coming via ASP.NET Core 2.0. Please have a look at the _develop_ branch.

[2017-10-20 22:36] chkr1011 commented on #68
@haeberle I refactored the tracing. You can find an example in the Wiki and the code in the _develop_ branch. Please let me know if this fits your needs.

[2017-10-21 13:56] chkr1011 commented on #61
@JTrotta Based on your work I refactored the "managed" client. I also added connection maintenance. I added test code to the app core test app. Please test if also the storage works for you. The client will re en-queue all failed messages higher than QoS 0. The storage always receives all queued messages. You can also add messages and start the client later.

Also the subscriptions are managed. Af

[2017-10-21 17:15] JTrotta commented on #61
Thank you Christian, looks good. I see it was not possible to use the previous MqttClient version without some changes.
I will test it on Mono mobile application next Thursday, and let you know.
Thank you again.
JJ

[2017-10-21 18:54] ChristianRiedl commented on #65
Christian,
thank you for your improvements and demo code, it works fine.

I am working on similar .NET projects just for fun and learning by doing. Smart home and media integration arround AspNet Core servers and Xamarin based clients.

Smart home with integration of HomeMatic, Osram Spotify, Fritzbox, Tinkerforge, ...
Media  with remotes for Samsung TV, Undok, Musiccast, Roon
DLNA server based on

[2017-10-21 19:00] chkr1011 commented on #65
@ChristianRiedl I need all 😄

Sound very interesting to me. I also planning a Xamarin App for my Smart Home system.
The system is documented here:

https://www.hackster.io/cyborg-titanium-14/home-automation-system-using-raspberry-pi-784235

and here:

https://github.com/chkr1011/Wirehome

Let me know if you are interested in the project. I would like to add you to the Wirehome community if you are

[2017-10-21 19:52] ChristianRiedl commented on #65
Yes, you can add me to the Wirehome community.
Currently I am still busy with my companies software product  (SCADA, running in 12 nuclear power plants), but I plan to reduce this boring things, which I do now since 40 years.
I enjoy creating private projects where I do not have to spend 50 % in test code.

I took a look to the Wirehome project. Alexa integration is also part of my toys.
But in ge

[2017-10-21 20:07] JanEggers commented on #65
@chkr1011 i had alook at your latest changess and i think it would be great to create a real package based on mqtt.netstandard not just a test app. aka mqttnet.aspnetcore. that package could contain all the code needed to adapt mqttnet into aspnet core.

that library could:

create a wrapper for your tracing to forward it to ms.extensions.logging
create a wrapper of the options for ms.extensions.o

[2017-10-22 10:48] chkr1011 commented on #65
@JanEggers I agree that is a good idea. But with package you mean a separate nuget package? Since we are not moving to netstandard 2.0 at the moment it must be a separate one.

I already had a look regarding the logging stuff but this requires also netstandard 2.0. So probably a new nuget package would be the best solution or what do you think?

Do you may have some additions for the _managed_ cli

[2017-10-22 12:29] ChristianRiedl commented on #65
I propose to introduce ms.extensions.logging.abstraction 1.1.2 in the 1.x standard libraries.
It is netstandard 1.1 and upward compatible with ms.extension.logging 2.0. In the libaries you need only the **ILogger** interface and an extension class.

MqttWebSocketServerAdapter and MqttWebSocketServerChannel can be added to the framework netstandards libs as they are netstandard 1.3.

App livecycle

[2017-10-22 12:43] JanEggers commented on #65
yup.

i agree with @ChristianRiedl  we can use 1.x abstractions for logging. only the   IHostedService needs 2.0.

So i can provide a PR with logging and di for the existing package and a seperate package/project for HostedService and AppHostBuilder.

is that ok?

ManagedClient looks good, less stuff to handle manually.

[2017-10-22 12:47] chkr1011 commented on #65
@JanEggers OK

[2017-10-22 18:37] ChristianRiedl commented on #65
I would ask you for one more additional feature. As I am using Bearer authentication I would need a possibility to set header values during websocket connect. I know that not so many people will need this feature, but it will not impair somebody.

[code]

[2017-10-22 18:38] haeberle opened #71 "Stable broker connection in UWP"
I identified issues with my client connections and ask you about your experience or testing’s in your environments.
My configuration is as following:

Server as UWP on a Win10 Workstation
Client as UWP (subscriber) on Win10 Iot Raspi
Fhem as Client (subscriber) on Raspi
Easy ESP as client (publisher) on ESP8266

The problem is, the server closes the connections to the client after random timeout e

[2017-10-22 18:41] haeberle commented on #68
Perfect Christian, I will test it. Thanks a lot. I will share more infos about the project if I have stable Mqtt Service.
I did a tour on your IoT project, looks really great, I like the agent !

[2017-10-22 18:58] chkr1011 commented on #68
@haeberle Thanks 😄 I will close this ticket. If you need something please reopen it. @JanEggers is refactoring the tracing at the moment. So the API will change (a lot) but it is still possible to distinguish between the clients and also the server components.

[2017-10-22 18:58] #68 closed

[2017-10-22 19:01] chkr1011 commented on #65
Looks OK for me. I will add this feature to the supported frameworks. Even if not everyone needs this it makes sense to me. But I will use a dictionary etc.

[2017-10-22 19:18] chkr1011 commented on #71
Hi,
thank you for your detailed bug report. I will investigate it deeper but for now if have some thoughts:
1) Please check the KeepAlive periods and the "DefaultCommunicationTimeout" options. Maybe they are not matching and thus connections are dropped actively
2) Maybe the buffering is the issue. Please use the stream directly without wrapping it in a BufferedStream. I remembered the invalid rem

[2017-10-22 21:41] ChristianRiedl commented on #65
Thanks a lot

[2017-10-23 00:01] ChristianRiedl opened #72 "Do we want a MQTT based RPC ?"
For server to client data flow MQTT is anyhow a good choice.
But how to handle client =>server commands ?
When I have already a MQTT communication, why should I use another link for commands ?
Commands can/should have a response and in C# I would like to write such functions RPC-like.

I am just now playing with a prototype of **MqttRpc**. What do you think ?

By the way what is the essential diff

[2017-10-23 06:39] JanEggers commented on #72
im using a dictionary with int to taskCompletionSource similar to the MqttPacketDispatcher so i can send request with an id and wait for the response with the same id. that way i get call semantic.

signalr uses websockets or some other transport, a HubProtocol and Groups to filter who receives what. im planning to do a lib that glues this library and signalr together once signalr leaves alpha. im

[2017-10-23 06:50] JanEggers commented on #71
[2017-10-21 08:49:56.476] [Information] [MqttChannelCommunicationAdapter] [5] [RX <<< MqttPublishPacket: [Topic=/outdoor/temp-pres/Pressure] [Payload=MTA0OC40NA==] [QoSLevel=AtMostOnce] [Dup=False] [Retain=False] [PacketIdentifier=0]]
[2017-10-21 08:49:56.476] [Verbose] [MqttClientSession] [5] [Client 'Net::MQTT::Message[2044]': Enqueued pending publish packet.]

what i see here is that before the

[2017-10-23 16:49] chkr1011 commented on #72
I had also such an idea. Also creating a standalone MQTT server based on this library running in Windows IoT Core or on a PC. Like a product and also available at the store. My idea was to make the config all via MQTT messages. So that the server will have one admin credential with default values and then you can use messages for writing configuration etc. But finally I had one security flaw becau

[2017-10-23 17:13] JanEggers commented on #72
deny subscribe based on credentials and only allow with tls is all you can do i guess. mqtt isnt really build with security in mind anyone can subscribe and publish anything (with default mechanics)

[2017-10-23 20:16] 1iveowl opened #73 "DubFlag missing, or?"
Is there a reason that you did not implement the [DubFlag](https://github.com/chkr1011/MQTTnet/blob/master/MQTTnet.Core/MqttApplicationMessage.cs) as part of Publish?

Or, maybe I'm just overlooking something?

[On DubFlag](https://www.hivemq.com/blog/mqtt-essentials-part-4-mqtt-publish-subscribe-unsubscribe).

[2017-10-23 20:24] haeberle commented on #71
@chkr1011, to 1#: Id did the modifications, but no change in the results, looks that is not the issue. For 2# I'm using UWP and the TCPCannel imlementation is bases on Streams..

My understanding of the trace below is, that the server closes the connection in case the a message is incoming at the same time as a package is in the send pipeline. Maybe it is a sync or timing issue and the receiving m

[2017-10-23 21:16] chkr1011 commented on #73
If it is missing it is a bug. I also remember adding support for it. Probably I forgot a place. Can you give me some details why you mentioned this?

[2017-10-23 21:20] chkr1011 commented on #71
Thanks for the update. I was also thinking about that. I changed the Task.Run in the message queue to:

[code]

But it was only a try. Maybe this helps. The problem ist that I cannot test it on my own so I can only guess. My setup with a server and client runs and runs and runs.

Another idea is to check the keep alive on TCP socket level. Maybe this must be activated. Still only a roughly assumpt

[2017-10-23 21:28] 1iveowl commented on #73
Sure. I'm in the process for creating a cross platform Xamarin MQTT Tester app and was implementing Publish and noticed that the Dub Flag was missing.

[2017-10-23 21:30] ChristianRiedl opened #74 "IApplicationMessageReceiver - Proposal"
I notice your improvements in the developer branch. Great.
What do you think about making **IApplicationMessageReceiver** and **IApplicationMessagePublisher** a common interface for client and server ?
**HTTPnet** also runs on "client platforms", I think it would be an advantage for MQTTnet based components to provide the same abstraction for receiving and sending on both sides.

[2017-10-23 21:38] chkr1011 commented on #73
Cool, let me know if this library works with Xamarin. I also have a app on my wishlist but you are faster.

But what exactly do you mean with the "missing" Dub-Flag? In the _MqttApplicationMessage_? From my understanding a user cannot set it actively. Only the client can use it internally and let the server know that the message was already sent. Or at least tried.

[2017-10-23 21:42] 1iveowl commented on #73
Sure, but in a test scenario that is what you might want to do.

And yes, the library world fine with Xamarin.

[2017-10-23 21:43] chkr1011 commented on #74
Good proposal BUT the problem (why I didn't added it yet) is that the methods behave completely different:
1) The _MqttClient_ sends it directly. So _async_ is required and it will throw an exception (maybe)
2) The _ManagedMqttClient_ enques it internally. So no _async_ required and no excpetion
3) The _MqttServer_ also just enqueues the message for all subscribers. So no _async_ and exception her

[2017-10-23 21:46] chkr1011 commented on #73
OK so only for testing purposes but not a real live scenario. I have doubts exposing it. Let me read some documents about MQTT. I will decide then 😄

Awesome. I tried it with Xamarin.Android but it didn't work. The code always stops after ConnectAsync. It simply hangs and I didn't found a solution. The debug output shows zillions of error because lots of .net libraries were not found. Can you tell

[2017-10-23 21:52] chkr1011 commented on #73
I just found that line in the official docs:

As far as I understand this it means that the Dup flag shall not be exposed to a application message. Only the client uses it internally for its communication retries etc. I also didn't find something else. If I expose it the value must be validated. Sending 0 and it was already tried is a protocol violation. Also sending 1 and it was never sent before

[2017-10-23 21:55] 1iveowl commented on #73
Sound right. I didn't study the spec that close.

Regarding Xamarin. It just worked. I don't recall any issues.

I'm using it with the latest version of Xamarin. Maybe it's because I've set it up with .Net Standard.

[2017-10-23 22:20] 1iveowl commented on #73
Just found [this](https://www.hivemq.com/blog/mqtt-essentials-part-4-mqtt-publish-subscribe-unsubscribe):

The duplicate flag indicates, that this message is a duplicate and is resent because the other end didn’t acknowledge the original message. This is only relevant for QoS greater than 0 and more details are in part 6, which is about QoS levels. This resend/duplicate mechanism is typically hand

[2017-10-23 23:26] ChristianRiedl commented on #74
Yes, I have seen that on one side is sync and the other is async.
I think that there is no difference in the behavior of FunctionA and FunctionB. But anyhow it is not nice.
It requires that the caller handles it in both cases like async function.

[code]
Fortunatelly your functions have different namings ( XxxxAsync). So the common interface can provide PublishAsync, implemented on the server expl

[2017-10-24 06:20] haeberle commented on #71
Thanks for the answer. Did you test the server also with an UWP ?
I'm asking because I did a overnight run with the MQTTnet.TestApp.NetCore and that works without any issue.

[2017-10-24 06:30] haeberle commented on #71
I did a test with the KeepAlive=true in the StreamSocketControl, it doesnt help, because it looks not that the server or client close the connection..

[2017-10-24 07:07] chkr1011 commented on #71
Yes I use the UWP server for my smart home system. It runs over month without problems. But the problem is maybe new since the latest changes. Are you may using certificates or the unencrypted connection?

[2017-10-24 07:08] chkr1011 commented on #71
Stupid question... SSL is not supported for UWP 😄

[2017-10-24 07:14] chkr1011 commented on #71
But is it right that only the MQTTnet client has such problems? As far as I understand the log and your post Fhem client works without problems.

Can you please extend the violation exception and add the already read message header to the exception text. The body length is invalid but maybe we can see which message type it is.

[2017-10-24 07:17] haeberle commented on #71
;-) The server has issues.. the client is fine and works perfect.

Sure I will add and test

[2017-10-24 07:21] haeberle commented on #71
Which version you use a UWP server ? Maybe it is on my setup.

[2017-10-24 07:49] chkr1011 commented on #71
The version I use on UWP is very old. 2.1.3 or so.

[2017-10-24 09:41] haeberle commented on #71
I did a 1h test run and with 2.1.3 it works fine, without any exception.

[2017-10-24 10:54] JanEggers commented on #71
i created i pr just now with aspnetcore package. that code also contains a minimum js sample. i dont know if that client sample has issues but if i hit refresh in the browser i get similar exceptions like you in your logs

[2017-10-24 11:17] JanEggers commented on #71
update: i added more code to the pr. the remaining length issue is fixed now. problem was that i did not add a throw if the websocket is closed.

[2017-10-24 11:22] JanEggers commented on #71
i also fixed another bug in the websocketstream that could generate index out of range exceptions while reading from the stream

[2017-10-24 11:37] PatrickKunz opened #76 "Strong Named Assemblies"
I really like the async API of the MQTT client :)

Any strong named assemblies planned?

[2017-10-24 14:08] chall3ng3r opened #77 "Example for subscribing to topics?"
I've been trying to find simple way to subscribe to few topics, but there's no example shared on wiki.

I've setup `ApplicationMessageReceived` but it's not getting any messages. I guess I need to subscribe to a topic, but there I'm stuck :/

Any pointers how to do it?

[2017-10-24 14:13] chall3ng3r commented on #77
Never mind, found one in Unit Tests

https://github.com/chkr1011/MQTTnet/blob/master/Tests/MQTTnet.TestApp.NetFramework/PerformanceTest.cs

[2017-10-24 14:51] JTrotta opened #78 "ManagedMqttClient - IMqttClientOptions - readOnly - Reconnection"
Hello,
I need to set the password during each connection. I'm using a OTP psw with my broker.
Is it possible to expose a method to calculate the password at each re connection?
JJ

[2017-10-24 16:19] JTrotta commented on #56
ManagedClient lost this feature, may I add it again? Into tlsoption would be better.

[2017-10-24 18:25] chkr1011 commented on #56
Yes it is a static function because the implementations are very different between netstandard and UWP. I was not able to define a wrapper which matches both. So a static event is (currently) the best solution.

[2017-10-24 18:27] chkr1011 commented on #78
I assume you can hold a reference of the options in your code. In the disconnect event you can manipulate the password because it has a setter. Then the client will use that password for the next connect. Another solution is not yet implemented.

[2017-10-24 18:30] chkr1011 commented on #77
Hi @chall3ng3r,
thank you for your support. If you need more information please let me know.
Best regards
Christian

[2017-10-24 18:30] #77 closed

[2017-10-24 18:32] chkr1011 commented on #61
Yes some very minor changes are required 😄 . I will close this ticket. If you experience some issues after your tests please reopen it or create a new one.

[2017-10-24 18:32] #61 closed

[2017-10-24 18:33] chkr1011 commented on #65
A new project is added to the repository. Please have a look at this. If you still need some information or  assistance please let me know.

[2017-10-24 18:33] #65 closed

[2017-10-24 18:35] chkr1011 commented on #76
Hi, at the moment this is not planned. My doubts are how to share a certificate for building in GitHub. I can also create a self signed one but this is only a workaround.

What is your use case for a strong name? Does your project only accept assemblies with a strong name?

[2017-10-24 20:04] chall3ng3r commented on #77
Glad to contribute back, and thank you for awesome lib :)

[2017-10-24 23:23] #73 closed

[2017-10-25 07:23] JTrotta commented on #78
I suppose I can't do that:
Interface properties are read only
`    public interface IMqttClientOptions
    {
        bool CleanSession { get; }
        string ClientId { get; }
        TimeSpan DefaultCommunicationTimeout { get; }
        TimeSpan KeepAlivePeriod { get; }
        string Password { get; set; }
        MqttProtocolVersion ProtocolVersion { get; }
        MqttClientTlsOptions TlsOpti

[2017-10-25 08:28] chkr1011 commented on #78
You have to use the implementation. The interface only has a getter.  Then you can use the setter as well.
I think your implementation should be at your code because it is a very special use case. Also because now there are two password fields. This is more confusing in my opinion. Let me know if it works if you use the implementation instead of the interface. If not we can try to find a solution

[2017-10-25 08:32] chkr1011 commented on #71
@haeberle Can you please retry it with the latest fixes from @JanEggers ? If it still does not work can you then go through each version and test it? Maybe we can then strip it down to several changed files.

[2017-10-25 08:54] JTrotta commented on #78
You mean to cast it?
I'm using:
`_mqttOptions = new ManagedMqttClientOptions();
            _mqttOptions.ClientOptions = new MqttClientTcpOptions()
            {
                CleanSession = true,
                ClientId = "XX",
                DefaultCommunicationTimeout = TimeSpan.FromSeconds(20),
                KeepAlivePeriod = TimeSpan.FromSeconds(31),
                Port = _communicatio

[2017-10-25 09:29] chkr1011 commented on #78
Ah you are using the _ManagedClient_. OK that is a different story.

Maybe a good idea which is simpler is adding a function to the _ManagedClient_ options. A new property called "PasswordProvider" and of type Func<ManagedClientOptions, string>. If that is <null> the client will use the plain password from the inner options. Otherwise it will call that method and provides the options (may needed f

[2017-10-25 09:33] JTrotta commented on #78
You got it. Yes that's the solution.
I already did that, and it works good.
Let me know if you need a PR or you want to do it by yourself.

Thank you Christian!

[2017-10-25 10:06] chkr1011 commented on #78
You can always create a pull request if you like. I will review it in the afternoon. If changes are required we can discuss them together.

[2017-10-25 13:54] cshepley opened #80 "MQTTnet source and nuget package no longer appear to support .Net Framework"
While .Net Standard, UWP and .Net Core seem to work just fine, there is currently no assembly in the nuget package supporting the .Net Framework, and building from source causes output to contain numerous indirect references, making it unusable without many modifications to referencing projects.

[2017-10-25 17:09] chkr1011 commented on #80
@JanEggers Can you have a look here? You introduced the new project which supports both frameworks in one file. I have no idea what's wrong with that project.

[2017-10-25 17:21] JanEggers commented on #80
im currently using version 2.4 with net461 the changes i did to the project structure are just in develop branch so i think there should not be a package. @cshepley what is theversion of the package u use without netfx support?

[2017-10-25 17:29] chkr1011 commented on #80
@JanEggers Yes you are right. I am focused on next version 😄

[2017-10-25 17:52] chkr1011 commented on #78
@JTrotta Please have a look at the _develop_ branch. I implemented a new class for credentials. In the test code you can find an example how to use a changing password. I hope this fits your needs. It is a breaking change but in my opinion it is OK.

[2017-10-25 20:33] chkr1011 commented on #74
I added a interface for publishing messages. Please have a look at _develop_. The interface is implemented for both clients.

[2017-10-25 20:33] #74 closed

[2017-10-25 20:50] chkr1011 opened #82 "Release 2.5"
I want to release a new version soon because we have lots of new features. Before doing this I want to summarize the open topics:

1. Units Tests are not running for server tests. I am not able to fix them because I don't understand how to inject the test adapter since we have DI.  @JanEggers Can you please have a look?
2. @haeberle can you confirm that the bug with UWP is now fixed since latest c

[2017-10-25 22:18] ChristianRiedl commented on #74
Christian,

API and interface design is an interesting thing and a matter of taste. So my view of this things is not the only possible.
I write this comment because your current implementation breaks the compatibility with prev version more than necessary.

I think that a standard user writes an application for the server or a type of client (managed or not managed) and he should see in the interf

[2017-10-25 22:35] haeberle commented on #82
Not still the same issue in UWP, cureently I'm testing from version 2.1.3. to 2.3.1, so fare all fine, the issues must be in a newer version. I will test next versions asap.

[2017-10-26 02:43] JTrotta commented on #82
Let me do last test this morning. (1000 utc). But it should be almost ready and working.

[2017-10-26 07:02] JanEggers commented on #82
@chkr1011  i created a pr that fixes the unittests, addresses your todos according configuring the server and added nuspec for the new package

[2017-10-26 09:59] PatrickKunz commented on #76
Yes, we have a signed project and this accepts only signed nugets. But it's not a big issue. We have compiled and signed it for our case.

[2017-10-26 11:11] JTrotta commented on #82
@chkr1011 Got some problem.
Cannot instantiate ManagedClient without IOC.
Now you added Microsoft IOC logging extensions. But I'm already using TinyIoc, and I do not like to add more and more libraries.
Is it possible to avoid this construction mode?

[2017-10-26 11:27] eliaseliasyashar opened #84 "Topic Restrictions"
Question : Is there a way to implement topic restrictions/security publishing and or subscribing "broker" ?
Thanks .

[2017-10-26 11:28] chkr1011 commented on #82
@JTrotta Sorry but the introduction of the MS logging and also DI was already some time on the list. Already since two versions.
In general this library is only supported by 4.5.2 and above because older .net frameworks are no longer supported by MS. Mono is surely a different story. Maybe @JanEggers can shed some light here how to restore support for Mono etc. But you can already stay at your log

[2017-10-26 11:29] chkr1011 commented on #84
Hi,
what do you mean exactly? An "interceptor" which checks if a subscription is "allowed" or not?

Best regards
Christian

[2017-10-26 11:32] eliaseliasyashar commented on #84
Hi,
yes , i want to avoid subscribers/publishers from abusing the system , by implementing rules of authority where is allowed or not

Thanks
Yashar Elias Toghouj

[2017-10-26 11:34] chkr1011 commented on #84
OK but what are the input parameters you need to have? I can add the ClientId if this is enough? Or the whole connect info with Username, Password etc.?

[2017-10-26 11:39] eliaseliasyashar commented on #84
clientid is fine  " with the ability to unsubscribe the client from broker and refuse the publishing " , since users are authenticated and handled in code

[2017-10-26 11:39] JTrotta commented on #82
Ok,
gonna try 4.5.2 on MONO. Please can you wait till 1600 UTC? Otherwise I have to fork it ti 451.
Thank you

[2017-10-26 11:41] chkr1011 commented on #84
You mean disconnect instead of "unsubscribe"?

[2017-10-26 11:41] chkr1011 commented on #82
Don't worry. I believe we will find a solution.

[2017-10-26 11:43] eliaseliasyashar commented on #84
yes

[2017-10-26 12:14] JanEggers commented on #82
regarding ioc:
have a look at Frameworks/MQTTnet.NetStandard/ServiceCollectionExtensions.cs
just register the classes in a similar fashon in your di solution or use MQTTFactory created with default constructor to create the IManagedMqttClient https://github.com/chkr1011/MQTTnet/blob/f85721fbf50c1de320a277041088a2513d8106de/Frameworks/MQTTnet.NetStandard/MqttFactory.cs#L103

regarding mono:
i never

[2017-10-26 16:29] JTrotta commented on #82
Yes, I see.
The problem is that MQTTnetStandard requires some libraries not compatible with .NET451.
I tried to install .452 or above on my PC, recompile and test it on MONO, with no success.
microsoft.extensions.dependencyinjection is not compatible with .452

[2017-10-26 17:46] JTrotta commented on #82
Dears,
.NET 4.6.2 should work with new libraries microsoft.extensions.XXXXX.
But it takes long time to test 4.6.2 with MONO, even though it should work, I need to add and test many new libraries.
So I really prefer the previous version without IOC and microsoft.extensions.XXXX,  even because  I do not think it's a good to add an IOC  inside a library, it should be the final user to choose the righ

[2017-10-26 18:28] JanEggers commented on #82
im confused if you need net451 you can use it!? also M.E.DI is not the limiting factor for netstandard we could use 1.1 with it but 1.1 is missing security features required for tls.

[2017-10-26 18:57] chkr1011 commented on #82
@JTrotta Is it only DI which is causing the issues or also the logging component which is also not compatible?

[2017-10-26 18:59] chkr1011 commented on #71
@haeberle Some update of the UWP problems. I created a UWP server which is running on my machine. Since several ours I have no exception. Can you reproduce the issue somehow without fhem etc.?

[2017-10-26 19:07] chkr1011 commented on #82
@JTrotta I also don't agree fully with the doubts of DI. You are right that you choose the DI for your project on your own but DI also makes sense for this project. I also allows you to inject your own handling etc. It gives you more accessibility. This is also a good thing for a library to make it not sealed with a fence and you must use it the developer wants to. You can also combine DI containe

[2017-10-26 19:38] JTrotta commented on #82
I can be more precise tomorrow, but for now the error is related to creation of the ManagedMqttClient. It needs some libraries I do not use. Adding the libraries I get a new error like "this library is not compatible with 4.5.1". This happens on VS12 and VS17. Try to create a new project in 4.5 1, add the two Mqtt libraries, and try to nuget the others. You should get the same errors. Using 4.5.2

[2017-10-26 19:48] JanEggers commented on #82
sry i still dont get it. the testapp is net451 and works fine.

[2017-10-26 19:58] haeberle commented on #71
I closed the tests and it looks that the issued is build in in the version 2.4.0. The 2.3.1 was fine so far and not generate any exception I reported.

[2017-10-26 20:03] haeberle commented on #71
Yes, currently I'm using EasyEsp as publisher and the MqttnetClient as subscriber. The issue comes up only if a client subscribes to the topic.

[2017-10-28 08:52] chkr1011 commented on #82
@JanEggers I just added a server to the UWP test app and again I had to fix several UWP relevant issues by copy and pasting code from netstandard projects. So my conclusion is that this is not a good approach because this was not the first time and I cannot check those files like a trigger all the time :smile:

Do you have an idea how to move them together? Maybe by reorganizing some factories or

[2017-10-28 11:33] JanEggers commented on #82
ill do another attempt on getting ci and unittest working so i dont accidently break stuff.

i would prefere that.

[2017-10-28 12:48] JanEggers commented on #82
i got travis building something. but it does not support uwp builds.
see https://github.com/YoshinoriN/Kinugasa/issues/90

also travis is not able to run mstest.

id like to try jenkins as to their docs they support uwp builds and mstest

thoughts?

i also was able to merge the uwp and netstandard projects :).

does it make sense for you to merge mqttnet and mqttnet.core and remove .core from name

[2017-10-28 15:06] JanEggers commented on #82
narf there was no cloud option of jenkins so i now settled with appveyor. prs exist let me know if you ar ok with the changes. hopefully we finally defaeted the copy and paste madness 👍

[2017-10-29 09:30] JTrotta commented on #82
FYI, look at two screenshoot. The first is telling me that I need a the library: Microsoft.Extensions.DependencyInjection
![image](https://user-images.githubusercontent.com/2145654/32142273-ddf4b7fa-bc93-11e7-8d69-b8a9e8f1d57d.png)
Trying installing the library I got the second error.
![image](https://user-images.githubusercontent.com/2145654/32142274-ec77a3f0-bc93-11e7-9ff6-0947e367da35.png)

[2017-10-29 10:30] JanEggers commented on #82
@JTrotta im guessing this is just an intermidiate problem becuase you reference the project directly. can you please try to build mqttnet with build/build.ps1 and add a reference to that package. then all required dependencies should be added to your project. alternativly you can try recreate your project with sdk based csproj (new dotnetcore app then replace targetframework with net451) then the

[2017-10-29 11:04] JTrotta commented on #82
@JanEggers OK!
will try tomorrow morning. Will let you know.
Thank you

[2017-10-29 19:16] chkr1011 commented on #82
@JanEggers Good job! This looks much better to me. Hopefully this will decrease issues with different platforms a lot.

@JTrotta I think it is strange that v. 2.0.0 of DI is being installed. This lib uses only v1.1. Very strange. Lets wait for your test results.

[2017-10-29 19:17] chkr1011 commented on #84
Hi, I implemented this feature in the _develop_ branch.
You can either test it now or wait until v2.5 is release. If you can test it now you can also propose some feature ideas etc. After the release you have to wait for the next one 😄

At the options is a new interceptor specified. Wiki examples will follow after release.

Best regards
Christian

[2017-10-29 19:18] JanEggers commented on #82
do you need help with appveyor? there should be a option to add batch for readme.md but i didnt set that up because it should be on your account. if its setup id like to create a broken pr to verify appveyor blocks merging it.

[2017-10-29 19:36] chkr1011 commented on #82
@JanEggers I added this project to appveyor but I get the following output:
[code]

I will have a look for a batch.

[2017-10-29 19:38] chkr1011 commented on #82
Sorry it was the wrong branch but _develop_ look like this:

[code]

[2017-10-29 20:23] JanEggers commented on #82
i had to use msbuild in build.ps1 because of this. dotnet.exe does not support uwp build.

i updated appveyor.yml on my build it now fails because pfx of the uwp app is missing. i dunno how to fix that though.

[2017-10-30 07:52] chkr1011 commented on #82
The PFX is just a self signed certificate without a password. I assume you can generate a new one. But it is probably ignored in _gitignore_ and thus not committed.

[2017-10-30 11:03] Zuendelmeister opened #88 "Remaining length is invalid"
Hi again,

after getting the mqtt communication with tls and certificate to work, I tried to do the same between a arm linux machine and my laptop.
Unfortunately I get an error that I don't know how to resolve.
What am I doing wrong?

MqttBroker started

MQTTnet.Core.Exceptions.MqttCommunicationException: Remaining length is invalid. ---> MQTTnet.Core.Exceptions.MqttProtocolViolationException: Rem

[2017-10-30 11:21] JTrotta commented on #82
@chkr1011 @JanEggers ,
dears, I succeed in running the test application MQTTnet.TestApp.NetCore .exe on MONO 5.2.0.224
Today I will do the integration with my app. Will let you know.
JJ

[2017-10-30 11:44] JanEggers commented on #82
@chkr1011  its a long road.... i created a cert and now build runs but.... tests are not discovered.

dotnet test does not work with uwp
vstest.console does not find any tests
dotnet vstest finally worked but the appveyor testlogger is not recorgniced

pr incoming

@JTrotta nice

[2017-10-30 18:39] chkr1011 commented on #82
@JanEggers I would like to stay with 2 DLLs. One for the protocol related stuff and the platform related one. Even if all platforms are in one project now I like the separation of everything+platform_specific.

[2017-10-30 18:40] chkr1011 commented on #88
Hi,
I assume this is a duplicate of #71. I will move the conversation to that ticket.
Best regards
Christian

[2017-10-30 18:40] #88 closed

[2017-10-30 18:41] chkr1011 commented on #84
I will close this ticket because this feature is implemented in v2.5. If you have any suggestions or bug fixes (after the release) please create new tickets.

Best regards
Christian

[2017-10-30 18:41] #84 closed

[2017-10-30 18:47] chkr1011 commented on #71
@haeberle @Zuendelmeister Please try it with the current _develop_ version. I extended the error message with some details and I collected some potential issues. After testing it please share the traces here. With the new data added to the exception I can maybe fix it.

[2017-10-30 20:53] eliaseliasyashar commented on #84
Hi , thanks a lot , i shall test and keep you posted , appreciate the effort

[2017-10-31 08:49] chkr1011 commented on #72
As long as there is no progress I will close this ticket. I still have this on my plate but due to several open security flaws I would not implement it in this library and on a higher level instead.

[2017-10-31 13:13] chkr1011 commented on #71
@haeberle @Zuendelmeister Good news! I was able to reproduce the error with a Xamarin Android App. I located some issues with closed stream returning invalid data. Please try it with the version from _develop_.

@JanEggers Can you please have a look and review my changes? I assume that problem still exists in other areas. The problem was that the -1 while reading from a Stream was not respected an

[2017-10-31 13:26] JanEggers commented on #71
@chkr1011 changes look good maybe you should also add a test. (thinking of my system.io.pipelines rewrite i dont want to break it again in such a subtile way)

[2017-10-31 13:28] chkr1011 commented on #71
Tell me more about that pipelines. Maybe interesting for the next version. But was it a separate nuget? Or part of the framework?

[2017-10-31 14:31] JanEggers commented on #71
it will be a system.* nuget. so i consider it part of the framework supported by ms. it will be released with .netcore 2.1 and compatible with net451. eta q1/q2 2018 so there may be several mqtt versions until their packages are stable and i can finalize my work on mqtt port.

here is the spec:
https://github.com/dotnet/corefxlab/blob/master/docs/specs/pipelines.md

my branch is really out of sync

[2017-10-31 14:46] chkr1011 commented on #71
Sounds really interesting. In theory. I am interested what the difference is on a lower level.

Are all of that improvements related to pipelines only or do you have also other optimizations which may affect the current approach with Streams etc. as well?

[2017-10-31 15:28] JanEggers commented on #71
the difference on low level is the new api's around Span, Memory and Buffered IO that allow low level transformations like parsing and formatting without additional allocations/copy of buffers.

there may be some microoptimizations we could port but id rather like wait. there is no immidate need for 10% or 20% perf gain when there will be 1000% once the new packages are awailable.

[2017-10-31 20:27] #78 closed

[2017-10-31 20:51] chkr1011 commented on #80
@cshepley Does this problem still exist? If yes can you provide some error messages etc. so we can check? If I don't get a reply I assume it is fixed and thus I will close this ticket. If this is wrong please reopen it if required.

[2017-11-01 11:38] Zuendelmeister commented on #71
Hi all,

I finally was able to take a look at this. Unfortunately I cannot test this with the development branch. I added the dlls but the MqttClientFactory seems to be unknown:
![image](https://user-images.githubusercontent.com/14317353/32273111-64c60314-bf01-11e7-8f05-000351754b37.png)

Maybe my fault? I'd really like to to help out.

Best regards,
Zuendelmeister

[2017-11-01 11:55] chkr1011 commented on #71
@Zuendelmeister This is OK because the API has changed. Version 2.5 has several breaking changes. But you can use the _MqttFactory_ now. It will also create a client and generating the options is now done via the _MqttClientOptionsBuilder_. You can also have a look at the TestApps. There you can see how the new API is used. Before the next release I will update the Wiki with new examples. Some API

[2017-11-03 08:52] schtibb commented on #80
Greetings,

I just tried installing MQTTnet.2.4.0 on my .net framework 4.6.1 project and it require me to also install NetStandardLibrary.1.6.1, Microsoft.NETCore.Platforms.1.1.0 and a bunch of other packages as dependencies. Is it supposed to require all that?

![image](https://user-images.githubusercontent.com/3526608/32366000-8d9bc220-c07c-11e7-952e-7d2f5a3ec7a7.png)

[2017-11-03 08:56] schtibb commented on #80
When I changed my project to .net framework 4.5 (from 4.6.1) it seems to not require all the packages listed in the previous posts.

![image](https://user-images.githubusercontent.com/3526608/32366146-285bea56-c07d-11e7-90d5-912a6721f136.png)

[2017-11-03 09:30] JanEggers commented on #80
that is because Visual Studio chooses netstandard dll as net461 is closer to standard1.6 then to net45.

but the many packages are the way netstandard works, in dotnet core 2.0 ms introduced some "tree shaking" to remove unneeded packages / packages that are already on the machine when installing .net core runtime.

but until we upgrade to netstandard 2.0 that is the way its supposed to be i guess

[2017-11-03 19:01] #80 closed

[2017-11-03 19:01] #76 closed

[2017-11-04 14:39] JTrotta commented on #82
@chkr1011 @JanEggers
I did many test on MONO 5.2.0.224 and also 4.x.x.x (do not remember). Everything works ad expected. Even though I had to add 8 libraries!!!
![image](https://user-images.githubusercontent.com/2145654/32406288-17e38572-c176-11e7-999d-5a18dad90b0f.png)
To me you can upgrade.

[2017-11-04 20:03] chkr1011 commented on #82
@JTrotta Thank you for your feedback. As @JanEggers already explained in #80, adding much libraries is the way how it works with .net core 2.0. I also don't see any issue in adding lots of libraries instead of a fat single one.

So the last open point is the stable UWP broker issues. @haeberle & @Zuendelmeister: Do you have some news about that?

[2017-11-05 23:04] chkr1011 commented on #82
@JanEggers I just tried to test the nuget package but I got several errors from the build script. I tried to solve them but I was not able to find the root cause. To me the error seems to be related to the UAP framework in the cross platform library. Also there is no "Release" folder after building the AspNetCore project. I tested with different "Configruation" parameters but no luck. The "Release

[2017-11-05 23:07] chkr1011 commented on #82
I just realized that the dependency to DI in not part of the nuspec. This will explain that error at least. I will add all of those which are new since 2.5.

[2017-11-06 06:59] haeberle commented on #82
Hi Christian
I will follow up this week on that.

[2017-11-06 07:39] JanEggers commented on #82
narf dotnet build does not work with uwp involved even if i specified --no-dependency when building the aspnet project :(. anyway should work with that pr...

[2017-11-06 08:20] chkr1011 commented on #82
@haeberle Thank you for your feedback. I will also test again with some ESP-12F devices and a UWP server.

[2017-11-06 17:14] chall3ng3r opened #91 "MqttCommunicationException after client connect"
Hello,

I am using this library and have tried both v2.4 (nuget and master branch). On my laptop, it works when its connected to WiFi (internet) and ethernet cable (IP camera).

When I test it without WiFi and only IP camera connected via ethernet, MQTT client connects and disconnects immediately with following exception:

[code]

The system where the app is going to be deployed only have ethernet

[2017-11-06 18:35] chkr1011 commented on #91
Hi,
thank for your bug report.

We fixed several connection issues in the upcoming version 2.5. Probably this issue is fixed then as well.
Is it possible for you to test it with the latest _develop_ branch? The API has some breaking changes but in the test app are some examples. The Wiki will be updated once the new version is released.
Do you also have some more information? Is it a UWP app or ne

[2017-11-07 11:08] chall3ng3r commented on #91
Thanks for your reply,

I checked out develop branch but didn't used it yet. Will try and report how it goes.

My app is .net 4.6 based, compiled for x64. It does same when compiled for x86, so I guess that's not the issue.

[2017-11-07 13:30] KarloX2 opened #92 "Enum all retained topics held by the server?"
Hi!
I'm new to MQTT and to this lib.
I want to build a demo solution that facilitates a special script which shall be able to access all values currently known inside the MqttServer. I understand that there's a retained flag that instructs the Server to buffer those Messages and I guess there's an internal list for that somewhere.

Having the Server started and I have a IMqttServer reference. I fo

[2017-11-07 18:18] chkr1011 commented on #92
Hi,
what exactly do you mean with tokens? I assume you mean the mentioned retained messages. Those messages are stored in the server (and saved to storage if the required interface is implemented). If you subscribe to a topic which is stored at the server the client will receive that message even if client is offline. This is often used for scenarios where the sensor is most of the time offline li

[2017-11-07 22:10] haeberle commented on #82
@chkr1011 : I did some tests with a MQTTnet based UWP client, a ESPEasy client and the test UWP Server from the developer branch. Unfort. I'm not sure if the UWP client is sometime not responding or another issue is the root cause, but as you see still an exception in the trace.

![image](https://user-images.githubusercontent.com/12953094/32520370-08a7867a-c410-11e7-93a2-005bd5e73517.png)

[2017-11-07 22:20] chkr1011 commented on #82
Thanks for sharing. Do you also have problems in communication? I checked the code and the second exception (ObjectDisposedException) is a result of an issue in cleaning up the session. The first exception is a regular timeout. Does the client disconnected itself? I mean is this OK or is the timeout wrong?

[2017-11-07 22:31] haeberle commented on #82
No, the client doesn't trigger a disconnection, the Client.Disconnected handler is executed.

[2017-11-07 22:36] chkr1011 commented on #82
OK but it is guaranteed that the connection is stable? Sometimes my ESP devices also disconnect if the Wifi is not in range or has bad signal quality.

I just pushed a change which will fix the second exception. I am also keep testing with my ESP devices (which seems to work so far).

[2017-11-07 22:38] haeberle commented on #82
good point ;-) I will investigate, the client (Raspi) is connected with wire, the UWP Server with Wifi and running on my Surface...

[2017-11-07 22:59] chkr1011 commented on #82
The only thing I noted is that my application messages are not processed that often. The old version processes them all. The new one suddenly stops for a while (but keep alive packets are still sent) and then it continues showing several publish packets in the trace. The ESP is sending every 5 seconds but sometimes nothing happens for about 30 seconds. The old version had no problems and shows an

[2017-11-07 23:53] chkr1011 commented on #82
@haeberle This time I really fixed the ObjectDisposedException 😄 Also my ESP is sending data without problems. I had an issue in the firmware code 😄

[2017-11-08 01:06] JanEggers commented on #82
regarding timeouts: from my findings connect is the only place where receive is called with a timeout, so it should work. but an enumwould make it more obvious....

regarding bufffering: we could add an option so buffering is opt in/out that way we could test if that changes behavior.

[2017-11-08 06:58] KarloX2 commented on #92
Hi Christan,

thanks for you comments and explanations about the concepts.
I meant so say topics (not tokens), or maybe messages is the better word.

My demo will be a .net process that has two main modules. One is wrapped around a MQTT server that collects messages from a number of sensors. As far as I can see, there will be no actors. There may or may not be other MQTT clients accessing the serv

[2017-11-08 08:08] Zuendelmeister commented on #71
Hi @chkr1011,
ok good to know. I try to find some time to test this.
Do you have a plan when version 2.5 will be released?
Best regards,
Zuendelmeister

[2017-11-08 08:45] Zuendelmeister commented on #82
Hi @chkr1011,
sorry for answering this late. I don't have an issue with UWP though but with net core.
Best regards.

[2017-11-08 09:14] chkr1011 commented on #82
@JanEggers OK. Do you want to add it? I am trying to fix the connection problems.

@Zuendelmeister Ah OK. But a net core server?

[2017-11-08 09:26] Zuendelmeister commented on #82
@chkr1011 Server and Client. If both are on the same host it works. Between an arm linux and my Laptop it doesn't.

[2017-11-08 09:40] chkr1011 commented on #82
@Zuendelmeister Just a next try: Can you please change the code I mentioned above to NOT use the buffered stream (so the RAW stream instead) and test it again?

[2017-11-08 13:03] chkr1011 commented on #71
@Zuendelmeister I hope to release 2.5 soon. I am still testing and changing some minor things etc. The classes I mentioned are all part of the _develop_ branch.

[2017-11-08 14:04] chkr1011 commented on #82
@JanEggers I tried to implement the mentioned enum but I saw that it is not that easy. Then I tried to remove the RAW stream and always use the regular one. So also with the BufferedStream as the wrapper stream. I didn't get any errors with the TestApp.NetCore which also uses the BufferedStream. Both client and server are running perfectly. A ESP client is connected, sending data and also the UWP

[2017-11-08 14:05] JanEggers commented on #92
from version 2.5 you can get the retained messages via https://github.com/chkr1011/MQTTnet/blob/develop/MQTTnet.Core/Server/IMqttClientRetainedMessageManager.cs so you dont need to store the messages on your end.

if you need a timestamp you should add it to the payload of the message.

the payload should be utf8 encoded json but in theory you/or the devices can send whatever they want and even mi

[2017-11-08 14:17] JanEggers commented on #82
if it is running fine now then remove the raw streams. the issue was that the connect package was not received on either netcore or netfx because the buffered stream tried to read buffersize bytes and blocked but until the connect message is processed there where no further messages/bytes = deadlock. it may be possible that the issue i expierienced was one of the other issues we fixed while develo

[2017-11-08 14:26] chkr1011 commented on #82
OK I will push my changes. Can you please check it with a quick test. I also ran several tests and it seems to work without any issues. I will now test it with an encrypted connection with Azure IoT Hub. If this works I tested all possible scenarios. And please check my code fur sure 😄

[2017-11-08 23:20] chkr1011 commented on #71
I just release version 2.5. If the problem still occurs in this version please create a new ticket and we will start from the code base of 2.5.

[2017-11-08 23:20] #71 closed

[2017-11-08 23:21] chkr1011 commented on #82
Version 2.5 is now released! Thanks to everyone who has contributed!

[2017-11-08 23:21] #82 closed

[2017-11-09 04:08] ClaudioTF opened #93 "Microsoft.Extensions.DependencyInjection 2.0.0 breaks MQTTnet"
Package dependencies specify Microsoft.Extensions.DependencyInjection v1.1.1 or greater.  But updating to Microsoft.Extensions.DependencyInjection 2.0.0 breaks MQTTnet.  This statement

            var mqttServer = new MqttFactory().CreateMqttServer();

reproduces it.

[2017-11-09 07:07] KarloX2 commented on #92
Hi JanEggers!

Thanks, the IMqttClientRetainedMessageManager looks like something I could use. But it doesn't seem to be in the released version that I installed. Do I need to wait for the next update? When?

In the current version, there's already the MqttClientRetainedMessagesManager class. The reference to such an instance is public in MqttClientSessionsManager, however the reference to MqttCli

[2017-11-09 07:12] chkr1011 commented on #93
Hi,
thank you for sharing this issue. If you use the DI library in version 2.0.0 in your project please use the following code for constructing a MQTT server:
[code]

@JanEggers Do we havy any chance to fix this? I found several other tickets for other projects which have the same problem because 2.0.0 of DI has a breaking change (The service provider is no longer returned as an interface).

Best

[2017-11-09 07:12] chkr1011 commented on #92
@KarloX2 This is only available in Version 2.5 which was released yesterday.

[2017-11-09 07:14] JanEggers commented on #93
i will update myself then i will get that same error

[2017-11-09 07:20] chkr1011 commented on #93
Here is an interesting post from people having the same problem: https://github.com/OData/WebApi/pull/1082

[2017-11-09 08:35] KarloX2 commented on #92
Ah, ok, very good.

I installed version 2.5 and I see the new interface. However without reflection I can't retrieve a reference to that interface from my MqttServer object, right?

Little confused by the naming of the IMqttClientRetainedMessageManager.GetSubscribedMessagesAsync method. Will it really return messages that someone subscribed for? Or is that rather a presumed intention of the caller

[2017-11-09 09:02] KarloX2 commented on #92
@JanEggers  suggested to add the timestamp to the Payload data.

I can't because I have no full control over the Payload data structures coming from the devices. So I need to apply the timestamp in the server. Ideally, there would be a DateTime field in the appropriate class (MqttApplicationMessage ?) becoming auto-assigned a UTC (!) timestamp on receiving such a message from a client. Also, I nee

[2017-11-09 09:04] JanEggers commented on #93
shure we can add netstadard2.0 build with updated dependencies. pr incoming

[2017-11-09 09:16] chkr1011 commented on #93
Well for me this not a solution because (as also discussed at the other projects which are affected) this will require all library users to use .net standard 2.0 including ASP.NET Core 2.0 and .NET 4.6+. But my goal is to still support .NET 4.5.2 and to not rely on .net core (standard) 2.0 because it is just released and I will not limit the library to only be usable by cutting edge technologies o

[2017-11-09 09:17] JanEggers commented on #93
no sry i didnt put it correctly we can add another targetplatform with updated dependencies but still maintain netstandard 1.3

[2017-11-09 09:18] JanEggers commented on #93
im currently working on
    <TargetFrameworks>netstandard1.3;netstandard2.0;net452;uap10.0</TargetFrameworks>

[2017-11-09 09:18] chkr1011 commented on #93
Ah OK sorry I don't get that. This is surely OK for me 😄

[2017-11-09 09:27] JanEggers commented on #93
i also added a new event for server started so there are no messages published in aspnetcore sample until the server is started

[2017-11-09 09:37] chkr1011 commented on #92
_GetSubscribedMessages_ means that all messages are returned which are matching the topic filter criteria. The is only a internal class and I recommend not using it directly because its implementation can change in every next version. You can also have a look at the _ApplicationMessageReceived_ event and store the data on your own.

Changing the _MqttApplicationMessage_ and adding properties is no

[2017-11-09 16:54] KarloX2 commented on #92
@chkr1011 & @JanEggers !! Thanks for your very valuable comments !!

[2017-11-09 16:54] #92 closed

[2017-11-09 17:00] chkr1011 commented on #92
You`re welcome.

[2017-11-10 05:55] KarloX2 opened #95 "Can a MQTT client check whether another client is connected/alive?"
Hello Experts!

For a MQTT broker's client A, is it possible to verify whether another client B (a sensor device) is currently connected. Or - if not possible - can client A subscribe for a topic from client B and can A then distinguish whether the topic message from B (if delivered) is a last-will message or a regular "alive" message?

Thanks
Karlo

[2017-11-10 06:00] KarloX2 opened #96 "Makers of industry-grade MQTT-enabled sensor devices?"
Hello,

this is a bit OT, sorry.

Can someone point to companies that offer boxed and ready-to-run sensor devices (specifically measuring lightness and motion)?

Thanks!
Karlo

[2017-11-10 09:36] chkr1011 commented on #95
Hi,
you can build your own keep alive message system. Client A can publish something like "client-a/alive" every couple of seconds and another client can subscribe to it. But then client B requires some logic to determine whether client A is offline or online.

Another option is, as you already mentioned, the "will" message. You can specify the will message as something like "client-a/status" with

[2017-11-10 09:37] chkr1011 commented on #96
Hi,
already with MQTT support or in general?

One project I use is this: <https://github.com/arendst/Sonoff-Tasmota>

Best regards
Christian

[2017-11-10 13:50] danehnert commented on #93
I'm currently using MQTTnet in a .NET Framework 4.5.2. When I now try to update the package from 2.4 to 2.5, it is showing me dependencies like Microsoft.Extensions.DependencyInjection. Aren't these dependencies specific for .NET Core?

[2017-11-10 14:23] JanEggers commented on #93
@danehnert we use Microsoft.Extensions.DependencyInjection as ServiceProvider for netstandard and netfx

[2017-11-10 14:41] danehnert commented on #93
So the library went from zero dependencies to this :-(

![image](https://user-images.githubusercontent.com/14885553/32663232-83642e76-c62d-11e7-8106-a9966154012f.png)

[2017-11-10 15:00] JanEggers commented on #93
im not shure why visual studio picks dotnetstandard as targetframework instead of net452 which should result in less dependencies:

see https://github.com/chkr1011/MQTTnet/issues/80

@chkr1011 we have 2 little issues with the nuspec, can you please verify
this should be 1.3:
https://github.com/chkr1011/MQTTnet/blob/eaf27c1e1268a9417d96fd4d8925969aaaf19fcb/Build/MQTTnet.nuspec#L35

and this should

[2017-11-10 15:01] chkr1011 commented on #93
@danehnert These libraries are separate libraries if you use netstandard (v 1.6.1) in your screenshot. The "regular" .net Framework is a fat library with all libraries included. The new approach (decided by MS) is to split up things in separate libraries which can be maintained and released independently (most cases). So we have to accept this. Only the "Extensions" libraries are not part of the .

[2017-11-10 15:02] chkr1011 commented on #93
@JanEggers Yes you are right. Then let us release a new version soon including the .net standard 2.0 fix.

[2017-11-10 15:02] JanEggers commented on #93
agreed

[2017-11-10 16:30] ascazzola opened #97 "Error after upgrade to v 2.5"
I updated from v 2.4 to v 2.5 and in the line

var factory = new MqttFactory()

i have the error: Method not found: 'System.IServiceProvider Microsoft.Extensions.DependencyInjection.ServiceCollectionContainerBuilderExtensions.BuildServiceProvider(Microsoft.Extensions.DependencyInjection.IServiceCollection)'.

I deleted the bin folder and clean the solution and the error persists

[2017-11-10 17:28] JanEggers commented on #97
dup of #93 we will release 2.5.1 soon

[2017-11-10 17:28] #97 closed

[2017-11-11 07:36] huishounameng opened #98 "Can MQTTnet support websocket？"
hi,
I want to create a  mqtt server that supprts websocket with MQTTnet，and I wonder if MQTTnet can do that？provide an example if you support it.
Thank.

[2017-11-11 10:17] KarloX2 commented on #95
Ok, I understand. Thanks!

[2017-11-11 10:17] #95 closed

[2017-11-11 10:19] KarloX2 commented on #96
Thanks interesting!

Did you ever see a lightness sensor based on that hardware platform? I want to detect whether ceiling lights are switched on/off (mostly indoor).

[2017-11-11 10:59] 1iveowl opened #99 "TLS no certificates"
.WithTls does not accept a null value for of certificate parameters. I.e. in the case where certificates are not used, but Tls is.

Maybe [this line](https://github.com/chkr1011/MQTTnet/blob/eaf27c1e1268a9417d96fd4d8925969aaaf19fcb/MQTTnet.Core/Client/MqttClientOptionsBuilder.cs#L101) should be: `Certificates = certificates?.ToList()` instead?

Or something similar.

[2017-11-11 12:11] chkr1011 commented on #93
@JanEggers Is "1.3" OK or should it be "1.3.0" ?

[2017-11-11 12:13] chkr1011 commented on #99
Thanks for sharing this issue. I fix this for version 2.5.1.

[2017-11-11 12:13] #99 closed

[2017-11-11 12:15] chkr1011 commented on #98
Hi,
yes this is possible. Please have a look at the Wiki. There is an example how to use ASP.NET Core 2.0 together with the MQTTnet server.

[2017-11-11 12:17] chkr1011 commented on #96
Usually I use ESP8266 (NodeMcu dev kit) with several sensors. Or do you need some without soldering etc.?

[2017-11-11 12:23] chkr1011 commented on #93
@JanEggers Yes they are OK.

[2017-11-11 12:31] KarloX2 commented on #96
Yes, something boxed and ready to use would be great. I' not an electronic guy :)

[2017-11-11 12:33] chkr1011 commented on #96
Sorry but I don't know much ready to use sensors.

[2017-11-11 13:01] KarloX2 commented on #96
Thanks!

[2017-11-11 13:01] #96 closed

[2017-11-11 13:13] KarloX2 opened #100 "MQTTnet targeting .NET SW 4.6.1 has many dependencies"
Hi!

I read issue #80
but I'm still not sure if I get this right. Foremost, I must admit I have no deep understanding of how .NET Standard / Core really works.

I target .NET Framework 4.6.1 and by installing MQTTNet via NuGet it comes up with a long list of dependencies, amongst which are animals like "System.Console.dll" and "System.Net.Sockets.dll" that seem to implement things that are already

[2017-11-11 13:28] chkr1011 commented on #100
In my opinion this is correct. We specified that only for .NET 4.5.2 the .net framework shall be used in the nuget package. For other (higher) version the .net standard is used and thus several libraries are included because Microsoft has split the .NET framework into lots separate libraries.

But I get you concern. We will review the nuget package definition.

@JanEggers I assume we have to add e

[2017-11-11 13:33] JanEggers commented on #100
im just creating a new net461 console app to verify what is wrong first

[2017-11-11 14:30] JanEggers commented on #100
@chkr1011 i cannot figure it out i added net461 to mqttnet.netstandard and testapp but still there are some more dlls in the testapp output of net461.

so i added a issue to dotnetstandard so maybe they can shed some light on why this is happening:
https://github.com/dotnet/standard/issues/580

net452 is 1.4 MB and net462 is 2.2 MB.

@KarloX2 what are you concerned about when taking this dependenc

[2017-11-11 16:15] KarloX2 commented on #100
@JanEggers my biggest concern is that there are things going on with all that libs that I don't understand.

Personally I wouldn't care too much, but in the project team there are people who will ask questions about why suddenly there's a need to put so many elements on top of the existing .Net FW.

Can you answer me this question: Where do all the additional libs come from? Is that all part of .N

[2017-11-11 16:34] JanEggers commented on #100
When we target netstandard 1.3 we have to add some nuget packages because some apis required for TLS (SSLStream and Certificate handling) are not part of netstandard 1.3.

for the difference see:

https://github.com/chkr1011/MQTTnet/blob/0844abd7e568fd38ffa5464d964b5e089b53abe2/Build/MQTTnet.nuspec#L20-L29

compared to

https://github.com/chkr1011/MQTTnet/blob/0844abd7e568fd38ffa5464d964b5e089b53a

[2017-11-12 08:14] JanEggers commented on #93
il close this issue as 2.5.1 is released which also targets netstandard2.0 with updated dependencies. @danehnert im also investigating why there are more dlls added that needed that is tracked in #100
@ClaudioTF if you still have the issue with 2.5.1 feel free to reopen this issue

[2017-11-12 11:40] JanEggers commented on #100
i downgraded the dependencies. our internal build still copies more dlls than intended. but once it is packaged up as nuget things look better now.

here is the bin folder i got with the changes when importing the package as nuget:

![image](https://user-images.githubusercontent.com/6747376/32698466-95c22990-c7a6-11e7-84c3-80f41543f2a9.png)

[2017-11-12 12:33] KarloX2 commented on #93
Still I'm having this issue. I'm targeting .NET 4.6.1, using MQTTnet 2.5.1 and upgraded to Microsoft.Extensions.DependencyInjection 2.0.0 gives me an

    System.MissingMethodException

on doing

    var myclient = new MqttFactory().CreateMqttClient();

I'm really wondering why so many people are keen on DI. It never did anything useful for me. Only made things complicated, error prone and hard to

[2017-11-12 13:17] ChristianRiedl opened #103 "MqttNet client using WebSocket fails if not using .NET Framework"
There must be some difference between ClientWebSocket implementation in .NET 452 and .NET Core or UWP. I am using latest MQTTnet 2.5.1.

I tried to test the **MQTTNet.TestApp.NetCore ClientTest** against **MQTTNet.TestApp.AspNetCore2**.
When I run the AspNetCore2 Server via IISExpress and _localhost:54191_ both net452 and netcoreapp2.0 ClientTest failed.

Than I run AspNetCore2 using Kestrel serve

[2017-11-12 14:02] #98 closed

[2017-11-12 14:19] chkr1011 commented on #103
Hi,
thanks your sharing the issue. I will look into it but I require some additional info. Please share some export of trace messages when the connection is dropped and also some times span before the disconnect.

[2017-11-12 14:39] ChristianRiedl commented on #103
Trace of MQTTNet.TestApp.NetCore ClientTest netcoreapp2.0 against your MQTTNet.TestApp.AsoNetCore2. Running AspNetCore without IISExpress not on localhost but on my local IP address. UWP app trace looks quite similar. **ClientTest net452 suceeds with same environment !!**

[code]

Trace of running my UWP test app against my AspNetCore 2 server with http.sys

[code]

[2017-11-12 15:50] JanEggers commented on #103
@ChristianRiedl  hi chris i was able to reproduce and fix it. i added mqtt subprotocol in 2.5 as it was required for the browser library to work correctly. seems im not allowed to tell you im using mqtt if you dont ask for it. and hoorraaayy for that super helpful error message from microsoft

[2017-11-12 16:20] ChristianRiedl commented on #103
@JanEggers Jan, after adding the "mqtt" subprotocol, the netcoreapp2.0 ClientTest is running. The UWP testapp I created also connects now, but gets a timeout exception after some time.

I found this info regarding ClientWebSocket difference between UWP and .NET Core
[https://github.com/dotnet/corefx/issues/21102](https://github.com/dotnet/corefx/issues/21102)
Maybe this is the reason. My UWP test

[2017-11-12 18:49] JanEggers commented on #103
for me it looks like this is the same issue as #71 im currently triing to setup a unittest that verifies what happens if sockets loose connection. but that is kind of hard.

i found some issue that in case the server is stopped the existing sessions are not stopped. resulting in clients that think they are still connected. but that doesnt seem to be the issue at hand.

[2017-11-12 19:25] ChristianRiedl commented on #103
Hm, I changed WebSocketStream to buffer the received data. The UWP client is running now !!!

Here my quick&dirty change

[code]

[2017-11-12 19:41] 1iveowl opened #105 "Not an issue"
... just wanted to say thank you for creating MQTTnet, which have enabled me to create this App, that you might find use full.

- [Android](https://play.google.com/store/apps/details?id=com.liveowl.mqtttester)
- [Windows](https://www.microsoft.com/en-us/store/p/mqtt-tester/9wzdncrd272c)
- [iOS](https://itunes.apple.com/us/app/mqtt-tester/id1278621826?mt=8)

![180x180](https://user-images.githubuse

[2017-11-12 21:00] chkr1011 commented on #105
Hi,
thank you. The app looks good. Did you use Xamarin?
Yes please add those information. Also please have a look at the license in GitHub (README). There is the text you shall copy to your app 😄

Best regards
Christian

[2017-11-12 21:04] 1iveowl commented on #105
Yes, it's made with Xamarin.

Sure, I'll look at the license and get that part in order.

[2017-11-12 21:04] chkr1011 commented on #103
@JanEggers I also experienced some lost connections when using my ESP8266 devices. Very rarely the connection is lost directly after connect. I mean in a couple of ms. I also extracted two exceptions. But because of a release build I only got
[code]

and

[code]

Maybe those errors are related to the lost connections. I already investigated the code but I was not able to find something yet. Still

[2017-11-12 21:05] chkr1011 commented on #105
Do you also want to add your app to the README at this project under "refrences"?

[2017-11-12 21:10] ChristianRiedl commented on #103
My experience is that the problem occurs only with UWP websocket clients. All other (netcoreapp2.0 console app, net452 app) are running properly and [https://github.com/dotnet/corefx/issues/21102](url) points in the direction that websocket.ReceiveAsync behaves different on UWP. This was the reason I tried the buffered receive version, with success !!!

[2017-11-12 21:15] 1iveowl commented on #105
Sure. I would be honored if you do.

[2017-11-12 21:41] chkr1011 commented on #105
Then please give me one line (following the scheme of the existing entries) and I will add it.

[2017-11-12 22:01] 1iveowl commented on #105
Thanks.

Please see PR #106

[2017-11-12 22:01] #105 closed

[2017-11-13 16:24] ascazzola opened #108 "What do I need to post on a topic?"
I have a server working

This is the start method

        public void Start()
        {
            _mqttServer = new MqttFactory().CreateMqttServer(options =>
            {
                options.ConnectionValidator = c =>
                {
                    if (c.ClientId.Length != 12)
                    {
                        return MqttConnectReturnCode.ConnectionRefusedIdentifierRejec

[2017-11-13 17:32] JanEggers commented on #108
you have to subscribe to the topic you want to receive msgs for. in your case 123456789012

[2017-11-13 17:39] ascazzola commented on #108
The device is suscribed to the topic if y send a message from another device (MQTTlens) y see it but if y send messages from the server i don't see anything

[2017-11-13 18:02] JanEggers commented on #108
hmm do you subscribe with qos  exacly once? if you subscribe with lower qos the message will not be send.

[2017-11-13 18:09] ascazzola commented on #108
I changed it but i do not see any change
![image](https://user-images.githubusercontent.com/22962158/32741178-1aeab212-c884-11e7-8484-13c1099fa239.png)

and other strange issue _mqttServer.GetConnectedClients() returns always 0

[2017-11-13 18:13] JanEggers commented on #108
can you please add logstatements to your clientvalidation callback just to verify the clients are accepted?

[2017-11-13 18:22] ascazzola commented on #108
The clients accept the connection, i am debugging it. And i found where is the issue. i commented this line of code

_mqttServer.ClientDisconnected += MqttServerOnClientDisconnected

and it's works fine..

I emptied the ClientDisconnected function but it does not work
here is my ClientDisconnected function

 private void MqttServerOnClientConnected(object sender, MqttClientConnectedEventArgs mqttC

[2017-11-13 18:37] ascazzola commented on #108
"hmm do you subscribe with qos exacly once? if you subscribe with lower qos the message will not be send." this is the solution. Now in MQTTlens  i deleted the suscription i created again and it's works.

Thank you very much for your help and apologies for the inconveniencie

[2017-11-13 19:01] #108 closed

[2017-11-13 20:27] ChristianRiedl commented on #103
Shall I send you the UWP Websocket client sample code to verify the problem and try my "buffered **WebSocketStream** Receiver" fix ? I simply created a default UWP app and added your **ClientTest.RunAsync** function to the MainPage (replacing Console by System.Diagnostics.Debug).

[code]
Anyhow I think that calling **WebSocket.ReceiveAsync** bit for bit is not very efficient. My buffered ReadAsync

[2017-11-14 19:24] chkr1011 commented on #100
I was wondering why my PC runs out of disk space. After running a tool I found why:
![image](https://user-images.githubusercontent.com/6939810/32800110-c7ad9ae6-c979-11e7-9feb-4dfc9901cdac.png)

This is very much and I am wondering why it is such a big package. Does anyone know more?

[2017-11-14 19:43] JanEggers commented on #100
i dont know whats in that folder? the binaries themself should not be more than 5 MB total.

[2017-11-14 21:00] rowandempster opened #109 "Connecting to AWS-IoT"
Hello,

I am trying to use your MQTT client to connect to AWS-IoT using a presigned websocket url as outlined here: http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html.

Here is my connection code (`creds.presignedUrl` contains the authentication headers needed as a query string):
[code]
The issue is that `client.ConnectAsync(options)` never completes, it fails with a `MQTTnet.Core

[2017-11-14 21:19] rowandempster commented on #109
Here are the trace logs:
[code]

[2017-11-15 05:45] KarloX2 commented on #100
@chkr1011 Hi Christian. What's the name of that tool? Thanks

[2017-11-15 18:14] zhudanfei opened #110 "StopAsync in MqttServer"
I built a simple demo of MQTT C/S and have a question about it.
My test step is:
1 Server Call MqttServer.StartAsync
2 Client  Call MqttClient.ConnectAsync
Then client and server can communicate with each other.
When I called MqttServer.StopAsync, I found another client cannot connect to the server, that is what I expected. But the existing client still can send/receive message to/from server.
I a

[2017-11-15 18:40] chkr1011 commented on #110
Hi,
thank you for sharing this issue. This is  a bug. I will have a look.

Best regards
Christian

[2017-11-15 18:41] chkr1011 commented on #109
Hi,
thanks for sharing your issue. Can you provide the values for the parameters (even randomized for security reasons)? I read the document and saw that the WebSocket connection must be encrypted. This requires a wss:// in front of the URI but the library only adds ws:// if the prefix is not there.

Best regards
Christian

[2017-11-15 18:52] andrey3diq opened #111 "I can't use MQTTnet in UWP JavaScript application"
When I'm installing the NuGet package it's downloading a lot of dependencies and fails on this step:

StreamSocket is my test project based on the [project](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/StreamSocket/js) from Windows universal samples collection.

I created the question on [StackOverflow](https://stackoverflow.com/questions/47305797/how-can-i-use-mqttne

[2017-11-15 19:07] rowandempster commented on #109
By parameters I assume you mean the query string parameters. Here is an example of a `presignedUrl` that I am using:
[code]
When I use `wss://` as a prefix instead of `ws://` I get a `MQTTnet.Core.Exceptions.MqttCommunicationException` with error message `Unable to connect to the remote server`.

Thanks for you help,
Rowan

[2017-11-15 19:37] ChristianRiedl opened #112 "Different Retain behavior when publishing on client or server"
I noticed that when publishing messages on the server, messages with **retain** flag  are not stored by the **MqttClientRetainedMessagesManager**. Is this assymetric behavior by design ?
I found a workarround by directly calling **mqqtClientRetainedMessageManager.HandleMessageAsync**. It works, but I think it would be better if retained messages from clients and server are handled equal.

[2017-11-15 19:52] chkr1011 commented on #109
Thank you. I will have a look. We also have a bug in WebSocket handling probably it is related and will be fixed in the next version.

[2017-11-15 19:53] chkr1011 commented on #112
Hi,
yes you are right. This is wrong and should work in the same way as for clients. It will be fixed.

[2017-11-15 19:55] chkr1011 commented on #111
Hi thanks for sharing. I also use this library in a UWP app but not JavaScript based. Do you have some more output messages etc?

[2017-11-15 20:37] chkr1011 commented on #103
@ChristianRiedl I am trying to apply your fix but I have some problems in understanding the problem. Also I cannot test it because the UWP implementation works on my machine.

I have problems in understanding why this queue is required. I don't want to say that it is not required I just don't get _why_ it is required. The data you receive is pushed into that you and this will result in having some

[2017-11-15 21:01] ChristianRiedl commented on #103
@chkr1011 I created an empty UWP application (Build 16299) and added your RunAsync from ClientTest.cs to MainPage. I got a MqttCommunicationTimeout exception after running 20-30 seconds running and receiving messages.
Than I found the  info at [https://github.com/dotnet/corefx/issues/21102](https://github.com/dotnet/corefx/issues/21102) about different ClientWebSocket.ReceiveAsync behavior. So I a

[2017-11-16 06:59] andrey3diq commented on #111
Yes, this is full output from NuGet:

[2017-11-16 12:00] schtibb opened #113 "Publish not working"
Hi,

For some reason Publish doesn't seem to work, what am I doing wrong? I create an Instance of MqttServer and then I run StartAsync on it. Later on I invoke publish on that instance. I use the delegate method/event ApplicationMessageReceived on MqttServer to intercept messages. When I publish this event is fired, but nothing is received by the subscribing client.

I use MQTTNet 2.4. No clients

[2017-11-16 12:30] schtibb commented on #113
I figured out what the issue was. The client wasn't subscribing to the same QoS level. This might be the correct behavior but both Mosquitto and GnatMQ will publish the message even if the subscription has a different QoS level.

[2017-11-16 12:36] schtibb commented on #113
I think this is a bug,

The subscriber sets the "Maximum QOS level they will receive".

"For example, if a message is published at QoS 2 and a client is subscribed with QoS 0, the message will be delivered to that client with QoS 0."

It seems that MQTTNet will just ignore publishing the topic if the QoS mismatch.

[2017-11-16 14:28] schtibb commented on #93
I'm having the same issue, I have reverted to version 2.4 in the meantime.

[2017-11-16 17:44] chkr1011 commented on #113
Hi, thanks for sharing.
Yes this is a bug and show work in the way you described. This will be fixed in v2.5.2.

Best regards
Christian

[2017-11-16 17:48] chkr1011 commented on #103
@ChristianRiedl I usually use the UWP test app from this repo. It has several feature like starting a server and also connecting via different channels and publishing/subscribing. Is it possible that you test with that application instead and let me know if it also fails after 20-30 seconds (sharing the traces from the app window)?

[2017-11-16 19:01] ChristianRiedl commented on #103
@chkr1011 I tested with your UWP app running UWP and AspNetCore2 in one VS2017 session. I connected successfully to  _ws://localhost:54191/mqtt_. AspNetCore was running once as dotnet app once via IISExpress (both with same result). Before subscribing no error occurs. After subscribing topic # (I tried AtLeastOnce and AtMostOnce) I get 2 - 3 messages, than the timeout exception. Using my buffered

[2017-11-16 19:03] chkr1011 commented on #103
Hi thank you for sharing. I did not add AppInsights actively!? I will try to reproduce it in the way you described.

[2017-11-16 19:10] ChristianRiedl commented on #103
@chkr1011 I forgot to tell you that I added the subprotocol. Otherwise I got no connection.

[code]

[2017-11-17 15:16] GlebTyazhyolov opened #114 "BindingFailure on Microsoft.Extensions.DependencyInjection"
Hi all!

VS 2017 Community edition
Project target framework: 4.5.2
MqttNet 2.5.1

I write some library, let's name it MyMQTT.dll, which use ManagedMqttClient and provide some higher level MQTT abstractions for my project.

As I say MyMQTT.dll is referenced in my application project. When I start application, I catch exception in MyMQTT.dll
_"Managed Debugging Assistant 'BindingFailure'":
The assem

[2017-11-17 20:31] chkr1011 commented on #113
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:31] chkr1011 commented on #112
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:31] chkr1011 commented on #110
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:32] chkr1011 commented on #103
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:32] chkr1011 commented on #100
@KarloX2 It is called TreeSize...

This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:32] chkr1011 commented on #93
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:33] chkr1011 commented on #91
This issue is fixed in the preview version 2.5.2-rc1 (available as nuget).  Please let me know if the issue is now fixed.

[2017-11-17 20:34] chkr1011 commented on #109
I just released a preview of 2.5.2 (available as nuget). Please test with this version again. It fixed several issues with WebSocket clients. If it does not work please let me know. We can investigate the issue then again.

[2017-11-17 20:35] chkr1011 commented on #114
Hi, thanks for reporting this issue. Please test again with version 2.5.2-rc1 (Preview available as nuget). Several reference issues are fixed in that release.

[2017-11-18 07:27] KarloX2 commented on #100
Hi. I've tried with 2.5.2-rc1 from scratch. Works fine now. As far as I'm concerned, this issues can be closed.

Thanks for the good work!

[2017-11-18 15:13] ChristianRiedl commented on #103
@chkr1011 thanks, for me it is fixed now

[2017-11-18 15:57] KarloX2 commented on #93
For me this works with 2.5.2-rc1. Thanks!

[2017-11-18 18:16] #103 closed

[2017-11-18 18:16] #100 closed

[2017-11-18 18:17] #93 closed

[2017-11-18 22:51] chkr1011 commented on #111
Hi, please try again with the RC version of 2.5.2 which is available as a nuget package. Several referenced libraries have changed in the new version. Probably your bug is also fixed.

[2017-11-18 22:52] ChristianRiedl commented on #112
@chkr1011 thanks, the bug is fixed for me

[2017-11-18 22:56] #112 closed

[2017-11-18 23:54] GieltjE commented on #76
I highly recommend reviewing this issue, sharing the certificate on github is strongly discouraged.

1. This builds a trust between releases, if someone were to hack your nuget account and release a rogue update this could be detected by third parties
2. Building an app with full strong name verification now fails as MQTTnet.dll references MQTTnet.Core.dll with no strong name signature making secu

[2017-11-19 08:30] GlebTyazhyolov commented on #114
Tried rc version. The error slightly changed in the part of DependencyInjection library version. Was 1.1.1.0 became 1.0.2.0

_Message=Managed Debugging Assistant 'BindingFailure' : 'The assembly with display name 'Microsoft.Extensions.DependencyInjection' failed to load in the 'LoadFrom' binding context of the AppDomain with ID 1. The cause of the failure was: System.IO.FileLoadException: Could no

[2017-11-20 07:10] andrey3diq commented on #111
I'm sorry, I can't download this version from nuget.org.
The error is:

Should I try another way installing it?

[2017-11-21 04:05] malichishti opened #115 "Certificate based authentication for client"
Hi,

I'm trying to use MQTTnet as a client to my broker which requires client certificate to authenticate it. How can i achieve this?

Do you support client authentication based on certificates? Each client will have its own certificate.

Regards,
Ali

[2017-11-21 14:43] StAI opened #116 "Secured websocket client"
Is it possible to add support of secured websocket client? I mean "wss://someserver".
As I see "ws://" hardcodede in MqttWebSocketChannel for now

[2017-11-21 20:02] chkr1011 commented on #91
Version 2.5.2 is now released. If your problem still exists please reopen this ticket.

[2017-11-21 20:02] #91 closed

[2017-11-21 20:02] chkr1011 commented on #110
Version 2.5.2 is now released. If your problem still exists please reopen this ticket.

[2017-11-21 20:02] #110 closed

[2017-11-21 20:03] chkr1011 commented on #116
Hi you can try using the full URI including the _wss://_ protocol prefix.

[2017-11-21 20:05] chkr1011 commented on #115
Hi,
yes you can add the certificate as a byte array to the client options. In combination with the TLS option set to true the certificate will be used.

Loading is at the moment only described for the server at the Wiki (Server > Using a certificate). But the code is the same as for loading a client certificate (beside that the private key is not part of it).

Best regards
Christian

[2017-11-21 20:06] chkr1011 commented on #113
Version 2.5.2 is now released. If your problem still exists please reopen this ticket.

[2017-11-21 20:06] #113 closed

[2017-11-21 20:07] chkr1011 commented on #111
The package name was 2.5.2-rc1 but now the final 2.5.2 is released. Please try with that version.

[2017-11-21 20:08] chkr1011 commented on #114
Did you have copied all binaries to your root project? The .exe or whatever? If your "MyMQTT.dll" used it you must also copy it to the output of your root project output even if you don't reference them there.

[2017-11-21 20:22] ChristianRiedl opened #117 "Troubles with different versions of Microsoft.Extensions.Logging and Options"
You are using different versions of the Microsoft Extension 1.x DLLs (1.0.2, 1.1.2) in your Core and Netstandard (UWP) projects and I am struggling with assembly bindings in my components.

I think it would be better to use always the same and latest version before 2.0. This latest version contains some fixes and a bit additional functionality, keeping full compatibility.

**Logging, Options : 1.1

[2017-11-21 22:05] malichishti commented on #115
@chkr1011 Thank you for your reply.

Can you advise how i can setup following configuration:
![image](https://user-images.githubusercontent.com/17155996/33099173-1d0f16aa-cf64-11e7-9048-e24062ba76e3.png)

I tried below but it did not work:
![image](https://user-images.githubusercontent.com/17155996/33099148-ffd1fd3c-cf63-11e7-9170-0d3c24e7141a.png)

[2017-11-22 07:00] RainerMueller82 opened #118 "Ungraceful disconnect of client not recognized"
Hi!
First I have to say THX for all your effort in this project, I really like the library and espescially the newest version with the managedclient :-).

I just tried to unplug my client in order to check the connection state in the server, it seems the server does not recognize the connection loss. I think after 1 1/2 times of the keep alive period the server should recognize that the client is

[2017-11-22 07:10] chkr1011 commented on #117
After some time I have doubts if this approach with DI etc. was a good decision. It leads to more problems that it solves. @JanEggers I would like to revert to a version without this DI approach (and also the logging and options libraries).

[2017-11-22 07:14] chkr1011 commented on #115
Please try it with the following code (for loading the cert).
[code]

Because this is a self signed certificate you probably have to add a certificate handler (described in the WIki) and ensure that it is accepted.

If this also doesn't help please let me know.

[2017-11-22 07:16] chkr1011 commented on #118
Hi,
thank you for your feedback.

So you start a server and a managed client and then you removed your LAN cable and the server does not react?

Is this happening with version 2.5.2?

Best regards
Christian

[2017-11-22 07:38] malichishti commented on #115
@chkr1011 Thank you for your reply, I already tried it, unfortunately it did not work. I have also tried to create a pfx file from .crt and .key still no luck.
[code]

[2017-11-22 07:45] RainerMueller82 commented on #118
Hi,

I used 2.5.1, but I just updated and it seems it's still not recognizing
the connection loss.
Also tried to set the defaultcommunicationtimeout to 5s and I've set the
keep alive in the client to 5s too.

After re-connecting the device, I got the disconnected message from the
server.

Let me know if I can help or try something ...

BR, Rainer.

2017-11-22 8:16 GMT+01:00 Christian <notification

[2017-11-22 09:39] JanEggers commented on #117
I agree, there are way more troubles than i anticipated.

[2017-11-22 09:48] ChristianRiedl commented on #117
I think it is an overkill to introduce DI and `IOption<T>` interface for the creation of one MqttClient or MqttServer object. Also the `ILogger<T>` are not really neccessary for this size of project. The only thing I use now in every library is non generic `ILogger` from Microsoft.Extensions.Logging.Abstractions. Before every lib had its own ILog interface, LogLevel and I wrote a lot of log conver

[2017-11-22 09:54] chkr1011 commented on #117
This was already implemented. The static event is only the must easy way of consuming log messages without having classes implemented etc. It was also possible to specify a custom handler which adds some custom code like adding own IDs etc.

@JanEggers So who will revert it? I can do it. I would leave the Factory as it is. Maybe we can keep some parts of the DI approach to allow injection of class

[2017-11-22 09:59] JTrotta commented on #117
As I told you some days ago, I completely disagree in using DI (IOC) inside a library that should be used into other projects. It should be matter of the "host"  project to select and use the right DI (IOC) library. Of course it's a  matter of choice, and with some "extra" work it can be used, but @ChristianRiedl  sentence is perfect to define this kind of situation: "_it leads to more problems th

[2017-11-22 10:07] StAI commented on #116
HI Christian, Uri with wss:// prefix will not work because there is the following in MqttWebSocketChannel:public async Task ConnectAsync()        {            var uri = _options.Uri;            if (!uri.StartsWith("ws://", StringComparison.OrdinalIgnoreCase))            {                uri = "ws://" + uri;            }… If I remove this it will work. Best Regards 21.11.2017, 23:03, "Christian" <n

[2017-11-22 10:08] GlebTyazhyolov commented on #114
Yes, all libraries was in exe program folder. As Microsoft.Extensions.DependencyInjection.dll.
I admit that it can be some bug in my environment, so no problem if you will ignore this issue until someone else report the same.
I tempoprary fallback to other mqtt library, so it's not urgent for me anymore. Maybe will try to switch back later.

[2017-11-22 12:09] 949f45ac commented on #117
Hi, quickly jumping in here, as I’ve been struggling to use this library on Xamarin Android 7 for about a week now, for similar reasons.

Could be due to all kinds of other things also set up for my project, but basically the Microsoft.Extensions.* packages were pulling in System.* packages (netstandard versions) that clashed with the System.dll and System.Core.dll libs included with Xamarin. This

[2017-11-22 12:43] JanEggers commented on #117
just go ahead im quite busy at work currently....

[2017-11-22 12:55] JTrotta commented on #117
I can help in testing phase on MONO.

[2017-11-22 13:19] chkr1011 commented on #117
@JanEggers Yes me too. I will start with it in the evening 😄

[2017-11-22 21:36] chkr1011 commented on #117
@ChristianRiedl @JTrotta @JanEggers @949f45ac I release a RC version of 2.5.3 (as "2.5.3-rc1" nuget) which has no external references. There are some minor breaking changes in logging but the other stuff should work without changes. I will now test on my systems.

[2017-11-22 21:38] chkr1011 commented on #116
@StAI Thanks for your support. A new version is released as RC ("2.5.3-rc1" nuget) which contains a fix (beside other changes). Please let me know if it works with that version.

[2017-11-22 21:39] chkr1011 commented on #114
@GlebTyazhyolov I just released a RC version of 2.5.3 ("2.5.3-rc1" nuget) which has no more any 3rd-Party references. This should work for your case as well. Please let me know if it works.

[2017-11-22 21:42] chkr1011 commented on #118
@RainerMueller82 How did you disconnect your devices. I tested it with some ESP8266 devices and when they power off the server detects that very fast. Do you stop a client application or just call "Stop" in code without closing the app?

[2017-11-22 21:47] chkr1011 commented on #111
@andrey3diq I just released nuget "2.5.3-rc1" which has no external references. Please try this version.

[2017-11-22 23:05] ChristianRiedl commented on #117
The solution is ok for me. I tested 2.5.3 client side successfully. Can you publish AspNetCore 2.5.3-rc1 ?

[2017-11-23 06:30] RainerMueller82 commented on #118
Hi Christian,

I just unplugged the device from the network. A shutdown or stopping the
client will close the socket and therefore gracefully close the connection.
This is working as expected. I can try to send an empty "ping" message from
the server to all clients, to see if the connectiontimeout is working,
but this may be only a workaround.

2017-11-22 22:42 GMT+01:00 Christian <notifications@g

[2017-11-23 13:35] JTrotta commented on #117
Please give me two hours from now to test it

[2017-11-23 14:14] JTrotta commented on #117
It works : MONO 5.4.1.6. Only two libraries,
![image](https://user-images.githubusercontent.com/2145654/33176878-e9d6f5a2-d060-11e7-8c0d-550527b5b8af.png)

You got it!

[2017-11-23 16:04] GieltjE commented on #76
@chkr1011 If you choose not to start signing the libraries are we allowed to publish our own packages to nuget in order to help those who require signed assemblies?

[2017-11-23 18:15] chkr1011 commented on #76
Hi,
at the moment there is no plan to add a strong name. I understand your point but I have to organize the certificate etc. first and avoid pushing it to the repo etc. So some things to plan.

But in the meantime you can upload it with a strong name. You can also use the image etc. from the official nuget package if you don't change the code in any way. Also the links should point to this reposit

[2017-11-23 20:40] archerian opened #119 "Querying connected clients, subscribed events list from server by client"
First of all many thanks for building this library. I'm migrating from an old .ocx pseudo publish/subscribe framework and MQTTnet seems like a great fit for the new framework we need. We have a lot of legacy apps that rely on the .ocx framework functions, some of which are GetAllClients, GetAllEvents, GetClientInfo, GetEventInfo function calls on the client side. Any ideas on how to get these func

[2017-11-23 21:22] chkr1011 commented on #119
Hi,
thanks for your feedback. So you want to get the connected clients (GetAllClients) using a client? And all events? Is that correct?

Best regards
Christian